<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.emenu.mapper.order.CheckoutMapper">
    <select id="queryByTableIdAndStatus" resultMap="pw.Checkout">
        SELECT id,table_id,checker_party_id,checkout_time,consumption_money,wipe_zero_money,should_pay_money,total_pay_money,
        change_money,prepay_money,status,consumption_type,is_invoiced,is_free_order,free_remark,created_time,last_modified_time
        FROM `t_checkout`
        WHERE t_checkout.`table_id` = #{tableId} AND t_checkout.`status` = #{status}
    </select>

    <select id = "queryCheckoutByTimePeriod" resultMap="pw.Checkout">
        SELECT *
        FROM t_checkout
        where  t_checkout.checkout_time >= #{startDate}
        AND #{endDate} >= t_checkout.checkout_time
        AND t_checkout.status = 1
        <if test="offset >= 0 and checkoutDto.pageSize > 0">
            LIMIT #{offset}, #{checkoutDto.pageSize}
        </if>
    </select>

</mapper>