<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.emenu.mapper.order.OrderDishMapper">
    <select id="listByOrderId" resultMap="pw.OrderDish">
        select `id`,`order_id`,`package_id`,`dish_id`,`package_quantity`,
       `dish_quantity`,`taste_id`,`remark`,`remark_price`,`sale_price`,
       `vip_dish_price`,`is_package`,`discount`,`status`,`order_time`,
       `serve_type`,`is_presented_dish`,`presented_remark_id`,`created_time`,`last_modified_time`,
       `is_call`,`is_change`,`package_flag`
        FROM t_order_dish
        WHERE t_order_dish.`order_id` = #{orderId}
    </select>

    <select id="queryById" resultMap="pw.OrderDish">
       select `id`,`order_id`,`package_id`,`dish_id`,`package_quantity`,
       `dish_quantity`,`taste_id`,`remark`,`remark_price`,`sale_price`,
       `vip_dish_price`,`is_package`,`discount`,`status`,`order_time`,
       `serve_type`,`is_presented_dish`,`presented_remark_id`,`created_time`,`last_modified_time`,
       `is_call`,`is_change`,`package_flag`
        FROM t_order_dish
        WHERE t_order_dish.`id` = #{id}
    </select>

    <select id="listDtoByOrderId" resultType="OrderDishDto">
        select orderdish.`id` AS id,
                orderdish.`order_id` AS orderId,
                orderdish.`package_id` AS packageId,
                orderdish.`dish_id` AS dishId,
                orderdish.`package_quantity` AS packageQuantity,
                orderdish.`dish_quantity` AS dishQuantity,
                orderdish.`taste_id` AS tasteId,
                orderdish.`remark` AS remark,
                orderdish.`remark_price` AS remarkPrice,
                orderdish.`sale_price` AS salePrice,
                orderdish.`vip_dish_price` AS vipDishPrice,
                orderdish.`is_package` AS isPackage,
                orderdish.`discount` AS discount,
                orderdish.`status` AS status,
                orderdish.`order_time` AS orderTime,
                orderdish.`serve_type` AS serveType,
                orderdish.`is_presented_dish` AS isPresentedDish,
                orderdish.`presented_remark_id` AS presentedRemarkId,
                orderdish.`is_call`AS isCall,
                orderdish.`is_change`AS isChange,
                orderdish.`package_flag`AS packageFlag,
                dish.`name` AS dishName,
                taste.`name` AS tasteName,
                taste.`related_charge` AS relatedCharge,
                remark.`name` AS presentedRemarkName

        FROM t_order_dish orderdish LEFT JOIN t_dish dish ON orderdish.`dish_id` = dish.`id`
                                 LEFT JOIN t_taste taste ON orderdish.`taste_id` = taste.`id`
                                 LEFT JOIN t_remark remark ON orderdish.`presented_remark_id` = remark.`id`
        WHERE orderdish.`order_id` = #{orderId}
    </select>

    <select id="queryDtoById" resultType="OrderDishDto">
        select orderdish.`id` AS id,
        orderdish.`order_id` AS orderId,
        orderdish.`package_id` AS packageId,
        orderdish.`dish_id` AS dishId,
        orderdish.`package_quantity` AS packageQuantity,
        orderdish.`dish_quantity` AS dishQuantity,
        orderdish.`taste_id` AS tasteId,
        orderdish.`remark` AS remark,
        orderdish.`remark_price` AS remarkPrice,
        orderdish.`sale_price` AS salePrice,
        orderdish.`vip_dish_price` AS vipDishPrice,
        orderdish.`is_package` AS isPackage,
        orderdish.`discount` AS discount,
        orderdish.`status` AS status,
        orderdish.`order_time` AS orderTime,
        orderdish.`serve_type` AS serveType,
        orderdish.`is_presented_dish` AS isPresentedDish,
        orderdish.`presented_remark_id` AS presentedRemarkId,
        orderdish.`is_call`AS isCall,
        orderdish.`is_change`AS isChange,
        dish.`name` AS dishName,
        taste.`name` AS tasteName,
        taste.`related_charge` AS relatedCharge,
        remark.`name` AS presentedRemarkName
        FROM t_order_dish orderdish LEFT JOIN t_dish dish ON orderdish.`dish_id` = dish.`id`
        LEFT JOIN t_taste taste ON orderdish.`taste_id` = taste.`id`
        LEFT JOIN t_remark remark ON orderdish.`presented_remark_id` = remark.`id`
        WHERE orderdish.`id` = #{id}
    </select>

    <update id="updateDishStatus">
        UPDATE t_order_dish orderdish
        SET orderdish.`status` = #{status}
        WHERE orderdish.`id` = #{id}
    </update>

    <update id="updatePresentedDish">
    UPDATE t_order_dish orderdish
    SET orderdish.`is_presented_dish` = #{isPresentedDish}
    WHERE orderdish.`id` = #{id}
   </update>

    <update id="updateServeType">
        UPDATE t_order_dish orderdish
        SET orderdish.`serve_type` = #{serveType}
        WHERE orderdish.`id` = #{id}
    </update>

    <select id = "isTableHaveOrderDish" resultType="int">
        SELECT count(1)
        FROM t_order_dish,t_order
        WHERE t_order.id=t_order_dish.order_id
        AND (t_order_dish.status=1 OR t_order_dish.status = 2)
        AND table_id=#{tableId}
            </select>

    <select id = "queryOrderDishTableId" resultType="int">
        SELECT table_id
        FROM t_order_dish,t_order
        WHERE t_order.id=t_order_dish.order_id
        AND t_order_dish.id=#{orderDishId}
            </select>

    <select id="queryMaxPackageFlag" resultType="Integer">
        SELECT package_flag
        FROM t_order_dish
        ORDER BY package_flag ASC
    </select>

    <select id = "isOrderHaveOrderDish" resultType="int">
        SELECT COUNT(*)
         FROM t_order,t_order_dish
         WHERE t_order.id=#{orderId}
         AND t_order.id=t_order_dish.order_id
         and (t_order_dish.status=1 OR t_order_dish.status=2)
    </select>

    <select id="listByOrderIdAndPackageId" resultMap="pw.OrderDish">
        SELECT `id`,`order_id`,`package_id`,`dish_id`,`package_quantity`,
        `dish_quantity`,`taste_id`,`remark`,`remark_price`,`sale_price`,
        `vip_dish_price`,`is_package`,`discount`,`status`,`order_time`,
        `serve_type`,`is_presented_dish`,`presented_remark_id`,`created_time`,`last_modified_time`,
        `is_call`,`is_change`,`package_flag`
        FROM t_order_dish
        WHERE t_order_dish.`order_id` = #{orderId}
        AND t_order_dish.`package_id` = #{packageId}
    </select>

    <select id="queryPackageOrderDishesByPackageFlag" resultMap="pw.OrderDish">
         SELECT `id`,`order_id`,`package_id`,`dish_id`,`package_quantity`,
        `dish_quantity`,`taste_id`,`remark`,`remark_price`,`sale_price`,
        `vip_dish_price`,`is_package`,`discount`,`status`,`order_time`,
        `serve_type`,`is_presented_dish`,`presented_remark_id`,`created_time`,`last_modified_time`,
        `is_call`,`is_change`,`package_flag`
        FROM t_order_dish
        WHERE package_flag = #{packageFlag}
    </select>
</mapper>