<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.emenu.mapper.order.OrderMapper">
   <select id="listByTableIdAndStatus" resultMap="pw.Order">
       SELECT id,checkout_id,table_id,employee_party_id,vip_party_id,
               status,order_remark,order_serve_type,login_type,is_settlemented,
               created_time,last_modified_time
       FROM `t_order`
       WHERE t_order.`table_id` = #{tableId} AND t_order.`status` = #{status}
   </select>

   <select id = "listOrderByStatusAndIsCheckAndDate" resultMap="pw.Order">
       SELECT *
       FROM t_order
       where  is_settlemented = #{isSettlemented}
       and #{date}>=t_order.created_time
       <if test="status != null">
       and t_order.status != #{status}
       </if>
   </select>

    <select id="queryOrderById" resultMap="pw.Order">
        SELECT *
        FROM t_order
        WHERE id=#{id}
    </select>

    <select id="queryOrderByTimePeroid1" resultMap="pw.Order">
       SELECT *
       FROM t_order
       where  t_order.created_time>#{startTime}
       AND #{endTime}>t_order.created_time
    </select>

    <select id = "queryOrderByTimePeroid2" resultMap="pw.Order">
       SELECT *
       FROM t_order
       where  t_order.created_time>=#{startTime}
       AND #{endTime}>=t_order.created_time
    </select>

    <select id="queryOrdersByCheckoutId" resultMap="pw.Order">
        SELECT *
        FROM t_order
        INNER JOIN t_checkout ON t_checkout.id = t_order.checkout_id
        WHERE t_checkout.id = #{checkoutId}
    </select>

    <select id="listOrdersByStatus" resultMap="pw.Order">
        SELECT *
        FROM t_order
        WHERE status = #{status}
    </select>
</mapper>