<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.emenu.mapper.storage.StorageSettlementMapper">

    <!--新-->
    <select id="listSettlementIngredientBySettlementId" resultMap="pw.StorageSettlementIngredient">
         SELECT `id`,
        `settlement_id`,
        `ingredient_id`,
        `stock_in_quantity`,
        `stock_out_quantity`,
        `income_on_quantity`,
        `loss_on_quantity`,
        `real_quantity`,
        `total_quantity`,
        `created_time`,
        `last_modified_time`
        FROM t_storage_settlement_ingredient
        WHERE `settlement_id` = #{settlementId}
        ORDER BY `created_time` DESC
    </select>

    <select id="listByDate" resultMap="pw.StorageSettlementItem">
        SELECT *
        FROM t_storage_settlement_item
        WHERE t_storage_settlement_item.`settlement_id`=
        (
        SELECT id FROM t_storage_settlement
        WHERE t_storage_settlement.`created_time`&lt;#{settlementDate}
        ORDER BY t_storage_settlement.`created_time` DESC
        LIMIT 1
        )
    </select>

    <select id="queryByDateAndItemId" resultMap="pw.StorageSettlementItem">
        SELECT `id`,`item_id`,`stock_in_quantity`,`stock_in_money`,`stock_out_quantity`,
        `stock_out_money`,`income_on_quantity`,`income_on_money`,`loss_on_quantity`,
        `loss_on_money`,`real_quantity`,`real_money`,`total_quantity`,`total_money`,
        `settlement_id`,`created_time`,`last_modified_time`
        FROM t_storage_settlement_item
        WHERE t_storage_settlement_item.`settlement_id`=
        (
        SELECT id FROM t_storage_settlement
        WHERE t_storage_settlement.`created_time`&lt;#{settlementDate}
        ORDER BY t_storage_settlement.`created_time` DESC
        LIMIT 1
        )
        AND t_storage_settlement_item.item_id=#{itemId}
    </select>
    
    <select id="queryBySettlementIdAndIngredientId" resultMap="pw.StorageSettlementIngredient">
        SELECT `id`,
        `settlement_id`,
        `ingredient_id`,
        `stock_in_quantity`,
        `stock_in_money`,
        `stock_out_quantity`,
        `stock_out_money`,
        `income_on_quantity`,
        `income_on_money`,
        `loss_on_quantity`,
        `loss_on_money`,
        `real_quantity`,
        `real_money`,
        `total_quantity`,
        `total_money`,
        `created_time`,
        `last_modified_time`
        FROM t_storage_settlement_ingredient
        WHERE t_storage_settlement_ingredient.`settlement_id`= #{settlementId}
        AND t_storage_settlement_ingredient.`ingredient_id`=#{ingredientId}
    </select>

    <select id="listItemByDateAndSupplierId" resultType="com.emenu.common.dto.storage.StorageItemDto">
        SELECT t_storage_item.`id`,t_storage_item.`name` AS itemName,
        SUM(t_storage_report_item.`quantity`) AS itemQuantity,
        SUM(t_storage_report_item.`price`*t_storage_report_item.`quantity`)AS itemMoney,
        t_party_supplier.`party_id` AS supplierpartyId,
        (SELECT t_party_employee.`name` FROM t_party_employee WHERE t_party_employee.party_id=t_storage_report.`handler_party_id`) AS handlerName,
        (SELECT t_party_employee.`name` FROM t_party_employee WHERE t_party_employee.party_id=t_storage_report.`created_party_id`) AS createdName
        FROM t_storage_item,t_storage_report,t_storage_report_item,t_party_supplier
        WHERE t_storage_item.`id` = t_storage_report_item.`item_id`
        AND t_storage_report_item.`report_id` = t_storage_report.`id`
        AND t_storage_report.`type`=1
        AND t_party_supplier.`party_id` = t_storage_item.`supplier_party_id`
        <if test="supplierId != 0 and supplierId != null">
            AND t_storage_item.`supplier_party_id`=#{supplierId}
        </if>
        <if test="startDate != null">
            <![CDATA[AND t_storage_report.`created_time`>=#{startDate}]]>
        </if>
        <if test="endDate != null">
            <![CDATA[AND t_storage_report.`created_time`<=#{endDate} ]]>
        </if>
        GROUP BY t_storage_item.`id`
    </select>

    <select id="queryLastSettlement" resultMap="pw.StorageSettlement">
        SELECT `id`,`serial_number`,`created_time`,`last_modified_time`
        FROM `t_storage_settlement`
        WHERE <![CDATA[`created_time`<=#{settlementDate}]]>
        ORDER BY `created_time` DESC
        LIMIT 1
    </select>

    <select id="listStorageItemByDepotAndTag" resultMap="pw.StorageItem">
        SELECT DISTINCT t_storage_item.*
        FROM t_storage_item
        <if test="depotIds!=null and depotIds.size()!=0">
            ,t_storage_report,t_storage_report_item
        </if>
        <where>
            <if test="supplierPartyId != null and supplierPartyId != 0">
                t_storage_item.supplier_party_id = #{supplierPartyId}
            </if>
            <if test="depotIds!=null and depotIds.size()!=0">
            AND t_storage_report.`id` = t_storage_report_item.`report_id`
            AND t_storage_report_item.`item_id`=t_storage_item.`id`
            AND t_storage_report.`depot_id` IN
                <foreach collection="depotIds" item="depotId"  open="(" separator="," close=")">
                #{depotId}
                </foreach>
            </if>
            <if test="tagIds!=null and tagIds.size()!=0">
            AND t_storage_item.`tag_id` IN
                <foreach collection="tagIds" item="tagId" index="index" open="(" separator="," close=")">
                #{tagId}
                </foreach>
            </if>
            <if test="keyword != null and keyword != ''">
            AND (t_storage_item.`name` LIKE CONCAT('%',#{keyword},'%')
                OR t_storage_item.`assistant_code` LIKE CONCAT('%',#{keyword},'%')
                OR t_storage_item.`item_number` LIKE CONCAT('%',#{keyword},'%'))
            </if>
        </where>
        <if test="offset!=null and pageSize!=null">
            LIMIT #{offset},#{pageSize}
        </if>
    </select>

    <select id="countStorageItemByDepotAndTag" resultType="int">
        SELECT COUNT(DISTINCT t_storage_item.id)
        FROM t_storage_item
        <if test="depotIds!=null and depotIds.size()!=0">
            ,t_storage_report,t_storage_report_item
        </if>
        <where>
            <if test="supplierPartyId != null and supplierPartyId != 0">
                t_storage_item.supplier_party_id = #{supplierPartyId}
            </if>
            <if test="depotIds!=null and depotIds.size()!=0">
                AND t_storage_report.`id` = t_storage_report_item.`report_id`
                AND t_storage_report_item.`item_id`=t_storage_item.`id`
                AND t_storage_report.`depot_id` IN
                <foreach collection="depotIds" item="depotId"  open="(" separator="," close=")">
                    #{depotId}
                </foreach>
            </if>
            <if test="tagIds!=null and tagIds.size()!=0">
                AND t_storage_item.`tag_id` IN
                <foreach collection="tagIds" item="tagId" index="index" open="(" separator="," close=")">
                    #{tagId}
                </foreach>
            </if>
            <if test="keyword != null and keyword != ''">
                AND (t_storage_item.`name` LIKE CONCAT('%',#{keyword},'%')
                OR t_storage_item.`assistant_code` LIKE CONCAT('%',#{keyword},'%')
                OR t_storage_item.`item_number` LIKE CONCAT('%',#{keyword},'%'))
            </if>
        </where>
    </select>
</mapper>