<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.emenu.mapper.storage.StorageReportMapper">

    <select id="listAll" resultMap="pw.StorageReport">
            SELECT * from t_storage_report ORDER BY `created_time` DESC
    </select>

    <select id="listByPage" resultMap="pw.StorageReport">
            SELECT * from t_storage_report
            ORDER BY `created_time` DESC
            LIMIT #{offset}, #{pageSize}
    </select>

    <select id="listStorageReportByCondition" resultMap="pw.StorageReport">
        SELECT * from t_storage_report
        <where>
            <if test="startTime != null">
                `created_time` &gt;= #{startTime}
            </if>
            <if test="endTime != null">
                AND `created_time` &lt;= #{endTime}
            </if>
            <if test="serialNumber != null">
                AND `serial_number` = #{serialNumber}
            </if>
            <if test="createdPartyId>0">
                AND `created_party_id` = #{createdPartyId}
            </if>
            <if test="depotId>0">
                AND `depot_id` =#{depotId}
            </if>
            <if test="handlerPartyId>0">
                AND `handler_party_id` = #{handlerPartyId}
            </if>
        </where>
        ORDER BY `created_time` DESC
        LIMIT #{offset}, #{pageSize}
    </select>

    <select id="listStorageReportByCondition1" resultMap="pw.StorageReport">
        SELECT * from t_storage_report
        <where>
            <if test="storageReport.id>0">
                AND `id` = #{storageReport.id}
            </if>
            <if test="storageReport.createdPartyId>0">
                AND `created_party_id` = #{storageReport.createdPartyId}
            </if>
            <if test="storageReport.depotId>0">
                AND `depot_id` = #{storageReport.depotId}
            </if>
            <if test="storageReport.handlerPartyId>0">
                AND `handler_party_id` = #{storageReport.handlerPartyId}
            </if>
        </where>
        ORDER BY `created_time` DESC
        LIMIT #{offset}, #{pageSize}
    </select>

    <select id="ListStorageReportUnsettled" parameterType="date" resultMap="pw.StorageReport">
        SELECT * FROM t_storage_report WHERE `created_time` &lt;= #{endTime} and status = 0 ORDER BY `created_time` DESC;
    </select>

    <update id="updateStatusById" >
        UPDATE `t_storage_report` SET `status` = #{status} WHERE `id` = #{id}
    </update>

    <select id="listByDepotIdList" resultMap="pw.StorageReport">
        SELECT `id` AS id,
        `serial_number` AS serialNumber,
        `comment` AS comment,
        `depot_id` AS depotId,
        `handler_party_id` AS handlerPartyId,
        `created_party_id` AS createdPartyId,
        `money` AS money,
        `status` AS status,
        `type` AS type,
        `created_time` AS createdTime,
        `last_modified_time` AS lastModifiedTime FROM t_storage_report
        <where>
            <if test="depotIdList != null and depotIdList.size()>0">
            `depot_id` IN
            <foreach collection="depotIdList" index="index" item="depotId" open="(" separator="," close=")">
                #{depotId}
            </foreach>
            </if>
            <if test="startTime != null">
                AND `created_time` &gt;= #{startTime}
            </if>
            <if test="endTime != null">
                AND `created_time` &lt;= #{endTime}
            </if>
        </where>
        ORDER BY `created_time` DESC;
    </select>

    <delete id="delById" parameterType="int" >
        DELETE FROM `t_storage_report` WHERE `id` = #{id}
    </delete>

    <select id="count" resultType="int">
        SELECT count(1) FROM `t_storage_report`
    </select>

<!--    <select id="listByTime" resultMap="pw.StorageReport">
        SELECT `id` AS id,
        `serial_number` AS serialNumber,
        `comment` AS comment,
        `depot_id` AS depotId,
        `handler_party_id` AS handlerPartyId,
        `created_party_id` AS createdPartyId,
        `money` AS money,
        `status` AS status,
        `type` AS type,
        `created_time` AS createdTime,
        `last_modified_time` AS lastModifiedTime FROM t_storage_report
        <where>
            <if test="startTime != null">
                AND `created_time` &gt;= #{startTime}
            </if>
            <if test="endTime != null">
                AND `created_time` &lt;= #{endTime}
            </if>
        </where>
        ORDER BY `created_time` DESC;
    </select>-->
   <!-- <select id="ListStorageReportDtoUnsettle"  resultMap="pw.StorageReport">
        SELECT * from t_storage_report WHERE `created_time` <= #{endTime} and status = 1
    </select>-->

</mapper>