<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.emenu.mapper.storage.StorageItemMapper">

    <select id="listBySearchDto" resultMap="pw.StorageItem">
          SELECT
            storageItem.`id` AS id,
            storageItem.`name` AS name,
            storageItem.`item_number` AS itemNumber,
            storageItem.`assistant_code` AS assistantCode,
            storageItem.`tag_id` AS tagId,
            tag.`name` AS tagName,
            storageItem.`ingredient_id` AS ingredientId,
            ingredient.`name` AS ingredientName,
            storageItem.`supplier_party_id` AS supplierPartyId,
            supplier.`name` AS supplierName,
            storageItem.`order_unit_id` AS orderUnitId,
            storageItem.`storage_unit_id` AS storageUnitId,
            storageItem.`cost_card_unit_id` AS costCardUnitId,
            storageItem.`count_unit_id` AS countUnitId,
            storageItem.`order_to_storage_ratio` AS orderToStorageRatio,
            storageItem.`storage_to_cost_card_ratio` AS storageToCostCardRatio,
            storageItem.`max_storage_quantity` AS maxStorageQuantity,
            storageItem.`min_storage_quantity` AS minStorageQuantity,
            storageItem.`stock_out_type` AS stockOutType,
            storageItem.`total_stock_in_quantity` AS totalStockInQuantity,
            storageItem.`total_stock_in_money` AS totalStockInMoney,
            storageItem.`last_stock_in_price` AS lastStockInPrice,
            storageItem.`created_time` AS createdTime,
            storageItem.`last_modified_time` AS lastModifiedTime
        FROM `t_storage_item` storageItem
        LEFT JOIN `t_party_supplier` supplier ON storageItem.`supplier_party_id` = supplier.`party_id`
        LEFT JOIN `t_tag` tag ON storageItem.`tag_id` = tag.`id`
        LEFT JOIN `t_ingredient` ingredient ON ingredient.`id` = storageItem.`ingredient_id`
        <where>
            <if test="searchDto != null">
                <if test="searchDto.keyword != null and searchDto.keyword != ''">
                    (
                      storageItem.`name` LIKE "%"#{searchDto.keyword}"%"
                      OR storageItem.`item_number` LIKE "%"#{searchDto.keyword}"%"
                      OR storageItem.`assistant_code` LIKE "%"#{searchDto.keyword}"%"
                    )
                </if>
                <if test="searchDto.supplierPartyId != null and searchDto.supplierPartyId > 0">
                    AND storageItem.`supplier_party_id` = #{searchDto.supplierPartyId}
                </if>
                <if test="searchDto.tagIdList != null and searchDto.tagIdList.size > 0">
                    AND storageItem.`tag_id` IN
                    <foreach item="tagId" collection="searchDto.tagIdList" open="(" separator="," close=")">
                        #{tagId}
                    </foreach>
                </if>
                AND storageItem.`status` != 2
            </if>
        </where>
        ORDER BY storageItem.`tag_id` ASC, storageItem.`id` ASC
        <if test=" searchDto != null and searchDto.offset >= 0 and searchDto.pageSize > 0">
            LIMIT #{searchDto.offset}, #{searchDto.pageSize}
        </if>
    </select>

    <select id="countBySearchDto" resultType="int">
        SELECT
            COUNT(storageItem.`id`)
        FROM `t_storage_item` storageItem
        <where>
            <if test="searchDto != null">
                <if test="searchDto.keyword != null and searchDto.keyword != ''">
                    (
                      storageItem.`name` LIKE "%"#{searchDto.keyword}"%"
                      OR storageItem.`item_number` LIKE "%"#{searchDto.keyword}"%"
                      OR storageItem.`assistant_code` LIKE "%"#{searchDto.keyword}"%"
                    )
                </if>
                <if test="searchDto.supplierPartyId != null and searchDto.supplierPartyId > 0">
                    AND storageItem.`supplier_party_id` = #{searchDto.supplierPartyId}
                </if>
                <if test="searchDto.tagIdList != null and searchDto.tagIdList.size > 0">
                    AND storageItem.`tag_id` IN
                    <foreach item="tagId" collection="searchDto.tagIdList" open="(" separator="," close=")">
                        #{tagId}
                    </foreach>
                </if>
                AND storageItem.`status` != 2
            </if>
        </where>
    </select>

    <select id="queryById" resultMap="pw.StorageItem">
        SELECT
            storageItem.`id` AS id,
            storageItem.`supplier_party_id` AS supplierPartyId,
            storageItem.`tag_id` AS tagId,
            storageItem.`ingredient_id` AS ingredientId,
            ingredient.`name` AS ingredientName,
            supplier.`name` AS supplierName,
            tag.`name` AS tagName,
            storageItem.`name` AS NAME,
            storageItem.`item_number` AS itemNumber,
            storageItem.`assistant_code` AS assistantCode,
            storageItem.`order_unit_id` AS orderUnitId,
            storageItem.`storage_unit_id` AS storageUnitId,
            storageItem.`cost_card_unit_id` AS costCardUnitId,
            storageItem.`count_unit_id` AS countUnitId,
            storageItem.`order_to_storage_ratio` AS orderToStorageRatio,
            storageItem.`storage_to_cost_card_ratio` AS storageToCostCardRatio,
            storageItem.`max_storage_quantity` AS maxStorageQuantity,
            storageItem.`min_storage_quantity` AS minStorageQuantity,
            storageItem.`stock_out_type` AS stockOutType,
            storageItem.`total_stock_in_quantity` AS totalStockInQuantity,
            storageItem.`total_stock_in_money` AS totalStockInMoney,
            storageItem.`last_stock_in_price` AS lastStockInPrice,
            storageItem.`created_time` AS createdTime,
            storageItem.`last_modified_time` AS lastModifiedTime
        FROM `t_storage_item` storageItem
        LEFT JOIN `t_party_supplier` supplier ON storageItem.`supplier_party_id` = supplier.`party_id`
        LEFT JOIN `t_tag` tag ON storageItem.`tag_id` = tag.`id`
        LEFT JOIN `t_ingredient` ingredient ON ingredient.`id` = storage.`ingredient_id`
        WHERE storageItem.`id` = #{id}
    </select>

    <select id="listAll" resultMap="pw.StorageItem">
         SELECT
            storageItem.`id` AS id,
            storageItem.`supplier_party_id` AS supplierPartyId,
            storageItem.`tag_id` AS tagId,
            storageItem.`ingredient_id` AS ingredientId,
            ingredient.`name` AS ingredientName,
            supplier.`name` AS supplierName,
            tag.`name` AS tagName,
            storageItem.`name` AS NAME,
            storageItem.`item_number` AS itemNumber,
            storageItem.`assistant_code` AS assistantCode,
            storageItem.`order_unit_id` AS orderUnitId,
            storageItem.`storage_unit_id` AS storageUnitId,
            storageItem.`cost_card_unit_id` AS costCardUnitId,
            storageItem.`count_unit_id` AS countUnitId,
            storageItem.`order_to_storage_ratio` AS orderToStorageRatio,
            storageItem.`storage_to_cost_card_ratio` AS storageToCostCardRatio,
            storageItem.`max_storage_quantity` AS maxStorageQuantity,
            storageItem.`min_storage_quantity` AS minStorageQuantity,
            storageItem.`stock_out_type` AS stockOutType,
            storageItem.`total_stock_in_quantity` AS totalStockInQuantity,
            storageItem.`total_stock_in_money` AS totalStockInMoney,
            storageItem.`last_stock_in_price` AS lastStockInPrice,
            storageItem.`created_time` AS createdTime,
            storageItem.`last_modified_time` AS lastModifiedTime
        FROM `t_storage_item` storageItem
        LEFT JOIN `t_party_supplier` supplier ON storageItem.`supplier_party_id` = supplier.`party_id`
        LEFT JOIN `t_tag` tag ON storageItem.`tag_id` = tag.`id`
        LEFT JOIN `t_ingredient` ingredient ON ingredient.`id` = storage.`ingredient_id`
        WHERE storageItem.`status` != 2
        ORDER BY storageItem.`tag_id` ASC, storageItem.`id` ASC
    </select>

    <select id="countByTagId" resultType="int">
        SELECT
            COUNT(1)
        FROM `t_storage_item`
        WHERE `tag_id` = #{tagId}
              AND `status` != 2
    </select>

    <update id="updateStatusById">
        UPDATE `t_storage_item`
            SET `status` = #{status}
        WHERE `id` = #{id}
    </update>

    <select id="listByKeyword" resultMap="pw.StorageItem">
        SELECT
            `id` AS id,
            `name` AS name,
            `assistant_code` AS assistantCode,
            `total_stock_in_quantity` AS totalStockInQuantity,
            `total_stock_in_money` AS totalStockInMoney
        FROM `t_storage_item`
        WHERE
            `name` LIKE "%"#{keyword}"%" OR `assistant_code` LIKE "%"#{keyword}"%"
    </select>

    <select id="listIdsByIngredientId">
        SELECT id
        FROM `t_storage_item`
        WHERE `t_storage_item`.`ingredient_id` = #{ingredient}
    </select>
</mapper>