<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.emenu.mapper.storage.StorageReportMapper">

        <select id="listAll" resultMap="pw.StorageReport">
                SELECT * from t_storage_report ORDER BY `created_time` DESC
        </select>

        <select id="listByPage" resultMap="pw.StorageReport">
                 SELECT * from t_storage_report
                 ORDER BY `created_time` DESC
                 LIMIT #{offset}, #{pageSize}
        </select>

</mapper>