<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.emenu.mapper.table.AreaMapper">
    <select id="listAll" resultMap="pw.Area">
        SELECT
            `id`,
            `name`,
            `weight`
        FROM `t_area`
        WHERE `status` = 1
        ORDER BY `weight` DESC, `id` ASC
    </select>

    <select id="queryStatusById" resultType="int">
        SELECT `status`
        FROM `t_area`
        WHERE `id` = #{id}
    </select>

    <select id="countByName" resultType="int">
        SELECT COUNT(1)
        FROM `t_area`
        WHERE `name` = #{name} AND `status` = 1
    </select>

    <update id="updateStatus">
        UPDATE `t_area`
        SET `status` = #{status}
        WHERE `id` = #{id}
    </update>
</mapper>