<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.emenu.mapper.table.AreaMapper">
    <select id="listAll" resultMap="pw.Area">
        SELECT
            `id`,
            `name`,
            `weight`
        FROM `t_area`
        WHERE `state` = 1
        ORDER BY `weight` DESC, `id` ASC
    </select>

    <select id="queryStateById" resultType="int">
        SELECT `state`
        FROM `t_area`
        WHERE `id` = #{id}
    </select>

    <select id="countByName" resultType="int">
        SELECT COUNT(1)
        FROM `t_area`
        WHERE `name` = #{name} AND `state` = 1
    </select>

    <update id="updateState">
        UPDATE `t_area`
        SET `state` = #{state}
        WHERE `id` = #{id}
    </update>
</mapper>