<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.emenu.mapper.table.TableMapper">
    <select id="listAll" resultMap="pw.Table">
        SELECT
            t_table.`id`,
            t_table.`area_id`,
            t_table.`name`,
            t_table.`seat_num`,
            t_table.`seat_fee`,
            t_table.`table_fee`,
            t_table.`min_cost`,
            t_table.`status`,
            t_table.`qrcode_path`,
            t_table.`open_time`
        FROM `t_table`
        INNER JOIN `t_area` ON t_area.`id` = `area_id`
        WHERE t_table.`status` != 6
        ORDER BY t_area.`weight` ASC, `area_id` ASC, t_table.`id` ASC
    </select>

    <select id="listByAreaId" resultMap="pw.Table">
        SELECT
            `id`,
            `area_id`,
            `name`,
            `seat_num`,
            `seat_fee`,
            `table_fee`,
            `min_cost`,
            `status`,
            `qrcode_path`,
            t_table.`open_time`
        FROM `t_table`
        WHERE `area_id` = #{areaId} AND `status` != 6
        ORDER BY `area_id`, `id`
    </select>

    <select id="listByStatus" resultMap="pw.Table">
        SELECT
            `id`,
            `area_id`,
            `name`,
            `seat_num`,
            `seat_fee`,
            `table_fee`,
            `min_cost`,
            `status`,
            `qrcode_path`,
            `open_time`
        FROM `t_table`
        WHERE `status` = #{status}
        ORDER BY `area_id`, `id`
    </select>

    <select id="listByAreaIdAndStatus" resultMap="pw.Table">
        SELECT
            `id`,
            `area_id`,
            `name`,
            `seat_num`,
            `seat_fee`,
            `table_fee`,
            `min_cost`,
            `status`,
            `qrcode_path`,
            `open_time`
        FROM `t_table`
        WHERE `area_id` = #{areaId} AND `status` = #{status}
        ORDER BY `area_id`, `id`
    </select>

    <select id="queryStatusById" resultType="int">
        SELECT `status`
        FROM `t_table`
        WHERE `id` = #{id}
    </select>

    <select id="countByName" resultType="int">
        SELECT COUNT(1)
        FROM `t_table`
        WHERE `name` = #{name} AND `status` != 6
    </select>

    <select id="countByAreaId" resultType="int">
        SELECT COUNT(1)
        FROM `t_table`
        WHERE `area_id` = #{areaId} AND `status` != 6
    </select>

    <update id="updateStatus">
        UPDATE `t_table`
        SET `status` = #{status}
        WHERE `id` = #{id}
    </update>

    <update id="updateQrCode">
        UPDATE `t_table`
        SET `qrcode_path` = #{qrCodePath}
        WHERE `id` = #{id}
    </update>

    <update id="updateOpenTime">
        UPDATE `t_table`
        SET `open_time` = #{openTime}
        WHERE `id` = #{id}
    </update>
</mapper>