<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.emenu.mapper.table.WaiterTableMapper">
    <select id="queryByPartyId" parameterType="int" resultType="Integer">
        SELECT `table_id` As `tableId`
        FROM t_party_employee_waiter_table
        WHERE `party_id` = #{partyId}
    </select>

    <select id="queryByPartyIdAndStatus" parameterType="int" resultType="Integer">
        SELECT t_party_employee_waiter_table.`table_id` AS `tableId`
        FROM t_party_employee_waiter_table, t_table
        WHERE t_party_employee_waiter_table.`table_id` = t_table.id
          AND `party_id` = #{partyId}
          AND t_table.`status` = #{status}
    </select>
</mapper>