<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.emenu.mapper.party.group.vip.VipInfoMapper">

    <select id="listByKeyword">
        SELECT *
        FROM `t_party_vip_info` vipInfo
        WHERE `state` = 1 OR `state` = 2
        <where>
            <if test="keyword != null">
                vipInfo.name LIKE"%"#{keyword}"%" OR
                vipInfo.phone like "%"#{keyword}"%"
            </if>
        </where>
        ORDER BY `id` DESC
        LIMIT #{pCurrent},#{pSize}
    </select>

    <select id="listByPage" resultType="VipInfo">
        SELECT *
        FROM `t_party_vip_info`
        WHERE `state` = 1 OR `state` = 2
        ORDER BY `id` DESC
        LIMIT #{offset},#{pageSize}
    </select>
    
    <select id="countAll" resultType="int">
        SELECT COUNT(1)
        FROM `t_party_vip_info`
        WHERE `state` = 1 OR `state` = 2
    </select>

    <select id="countByKeyword" resultType="int">
        SELECT COUNT(*)
        FROM `t_party_vip_info` vipInfo
        WHERE `state` = 1 OR `state` = 2
        <where>
            <if test="keyword != null">
                vipInfo.name LIKE"%"#{keyword}"%" OR
                vipInfo.phone like "%"#{keyword}"%"
            </if>
        </where>
        LIMIT #{offset},#{pageSize}
    </select>

    <select id="queryById" parameterType="Integer" resultType="VipInfo">
        SELECT *
        FROM `t_party_vip_info` vipInfo
        WHERE vipInfo.id = #{id}
    </select>

    <select id="countByPhone" parameterType="String" resultType="int">
        SELECT COUNT(1)
        FROM `t_party_vip_info`
        WHERE `phone` = #{phone}
    </select>
    
    <update id="updateStateById">
        UPDATE `t_party_vip_info`
        SET `state` = #{state}
        WHERE `id` = #{id}
    </update>

</mapper>