<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.emenu.mapper.party.group.vip.VipInfoMapper">

    <select id="listByKeyword" resultMap="pw.VipInfo">
        SELECT *
        FROM `t_party_vip_info` vipInfo
        <where>
            <if test="keyword != null">
                (vipInfo.name LIKE "%"#{keyword}"%" OR vipInfo.phone like "%"#{keyword}"%")
                AND (`status` = 1 OR `status` = 2)
            </if>
        </where>
        ORDER BY  `status` ASC, `id` DESC
        LIMIT #{offset},#{pageSize}
    </select>

    <select id="listByPage" resultMap="pw.VipInfo">
        SELECT *
        FROM `t_party_vip_info`
        WHERE `status` = 1 OR `status` = 2
        ORDER BY  `status` ASC, `id` DESC
        LIMIT #{offset},#{pageSize}
    </select>
    
    <select id="countAll" resultType="int">
        SELECT COUNT(1)
        FROM `t_party_vip_info`
        WHERE `status` = 1 OR `status` = 2
    </select>

    <select id="countByKeyword" resultType="int">
        SELECT COUNT(*)
        FROM `t_party_vip_info` vipInfo
        WHERE `status` = 1 OR `status` = 2
        <where>
            <if test="keyword != null">
                (vipInfo.name LIKE "%"#{keyword}"%" OR vipInfo.phone like "%"#{keyword}"%")
                AND (`status` = 1 OR `status` = 2)
            </if>
        </where>
        LIMIT #{offset},#{pageSize}
    </select>

    <select id="queryById" resultMap="pw.VipInfo">
        SELECT *
        FROM `t_party_vip_info` vipInfo
        WHERE vipInfo.id = #{id}
    </select>

    <select id="countByPhone" resultType="int">
        SELECT COUNT(1)
        FROM `t_party_vip_info`
        <where>
            <if test="phone != null">
                `phone` = #{phone} AND
                (`status` = 1 OR `status` = 2)
            </if>
        </where>
    </select>
    
    <update id="updateStatusById">
        UPDATE `t_party_vip_info`
        SET `status` = #{status}
        WHERE `id` = #{id}
    </update>

    <select id="querySecurityUserIdById" resultType="int">
        SELECT securityUser.`id`
        FROM `t_party_security_user` AS securityUser,
        `t_party_vip_info` AS vipInfo,
        `t_party` AS party
        WHERE vipInfo.`party_id` = party.`id`
        AND party.`id` = securityUser.`party_id`
        AND vipInfo.`id` = #{id}
    </select>

</mapper>