<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.emenu.mapper.stock.StockDocumentsItemMapper">

    <delete id="delByDocumentsId">
       DELETE FROM t_stock_documents_item
       WHERE documents_id = #{documentsId}
    </delete>

    <select id="queryByDocumentsId" resultMap="pw.StockDocumentsItem">
        SELECT *
        FROM t_stock_documents_item
        WHERE documents_id = #{documentsId}
    </select>

</mapper>