<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.emenu.mapper.stock.StockKitchenItemMapper">
<!--    <resultMap id="StockKitchen" type="com.emenu.common.entity.stock.StockKitchenItem">
        <id column="id" property="id"/>
        <result column="kitchen_id" property="kitchenId"/>
        <result column="item_number" property="itemNumber"/>
        <result column="item_id" property="itemId"/>
        <result column="assistant_code" property="assistantCode"/>
        <result column="specifications" property="specifications"/>
        <result column="storage_quantity" property="storageQuantity"/>
        <result column="cost_card_unit_id" property="costCardUnitId"/>
        <result column="remark" property="remark"/>
        <result column="status" property="status"/>
        <result column="create_time" property="createTime"/>
        <result column="last_modified_time" property="lastModifiedTime"/>
    </resultMap>-->
    <insert id="newStockKitchenItem">
        INSERT INTO
        t_stock_kitchen_item(
        kitchen_id,
        item_number,
        item_id,
        assistant_code,
        specifications,
        storage_quantity,
        cost_card_unit_id,
        remark,
        status
        )
        VALUES (
        #{stockKitchenItem.kitchenId},
        #{stockKitchenItem.itemNumber},
        #{stockKitchenItem.itemId},
        #{stockKitchenItem.assistantCode},
        #{stockKitchenItem.specifications},
        #{stockKitchenItem.storageQuantity},
        #{stockKitchenItem.costCardUnitId},
        #{stockKitchenItem.remark},
        #{stockKitchenItem.status})
    </insert>

    <delete id="delStockKitchenItem">
        DELETE
        FROM t_stock_kitchen_item
        WHERE id = #{id}
    </delete>

    <update id="updateStockKitchenItem">
        UPDATE t_stock_kitchen_item
        SET
        kitchen_id = #{stockKitchenItem.kitchenId},
        item_number = #{stockKitchenItem.itemNumber},
        item_id = #{stockKitchenItem.itemId},
        assistant_code = #{stockKitchenItem.assistantCode},
        specifications = #{stockKitchenItem.specifications},
        storage_quantity = #{stockKitchenItem.storageQuantity},
        cost_card_unit_id = #{stockKitchenItem.costCardUnitId},
        remark = #{stockKitchenItem.remark},
        status = #{stockKitchenItem.status}
        WHERE id = #{id}
    </update>

    <update id="editRemark">
        UPDATE t_stock_kitchen_item
        SET
        remark = #{remark}
        WHERE id = #{id}
    </update>

    <select id="queryAllItem" resultMap="pw.StockKitchenItem">
        SELECT *
        FROM t_stock_kitchen_item
    </select>

    <select id="queryById" resultMap="pw.StockKitchenItem">
        SELECT *
        FROM t_stock_kitchen_item
        WHERE id = #{id}
    </select>

    <select id="queryByItemId" resultMap="pw.StockKitchenItem">
        SELECT *
        FROM t_stock_kitchen_item
        WHERE item_id = #{itemId} AND kitchen_id = #{kitchenId}
    </select>
</mapper>