<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.emenu.mapper.stock.StockWarnMapper">

    <update id="updateStateToResolvedByItemId">
        UPDATE `t_stock_warn`
        SET state = 2
        WHERE item_id = #{itemId}
    </update>

    <update id="updateStateToIgnoreByItemId">
        UPDATE `t_stock_warn`
        SET `state` = 1
        WHERE `item_id` = #{itemId}
    </update>

    <select id="queryAllUntreatedWarn" resultType="com.emenu.common.dto.stock.StockWarnDto">
        SELECT
          stockWarn.`id` AS id,
          stockWarn.`item_id` AS itemId,
          stockWarn.`kitchen_id` AS kitchenId,
          stockWarn.`content` AS content,
          stockWarn.`state` AS state,
          stockWarn.`time` As time,
          stockItem.`name` AS itemName
        FROM  `t_stock_warn` stockWarn
        INNER JOIN `t_stock_item` stockItem ON stockItem.id = stockWarn.item_id
        WHERE kitchen_id = #{kitchenId} AND state = 0
    </select>


</mapper>
