<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.emenu.mapper.stock.StockItemDetailMapper">
    <select id="queryDetailById" resultMap="pw.StockItemDetail">
        SELECT *
        FROM t_stock_item_detail
        WHERE item_id = #{itemId} AND kitchen_id = #{kitchenId}
    </select>
</mapper>