<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.emenu.mapper.stock.StockDocumentsMapper">

    <select id="listAll" resultMap="pw.StockDocuments">
        SELECT `id` AS id,
        `supplier_id` AS supplierId,
        `kitchen_id` AS kitchenId,
        `serial_number` AS serialNumber,
        `comment` AS comment,
        `created_party_id` AS createdPartyId,
        `handler_party_id` AS handlerPartyId,
        `audit_party_id` AS auditPartyId,
        `money` AS money,
        `is_audited` AS isAudited,
        `is_settled` AS isSettled,
        `type` AS type,
        `created_time` AS createdTime,
        `last_modified_time` AS lastModifiedTime
        FROM `t_stock_documents` ORDER BY `created_time` DESC
    </select>

    <select id="listBySearchDto" resultMap="pw.StockDocuments">
        SELECT `id` AS id,
        `supplier_id` AS supplierId,
        `kitchen_id` AS kitchenId,
        `serial_number` AS serialNumber,
        `comment` AS comment,
        `created_party_id` AS createdPartyId,
        `handler_party_id` AS handlerPartyId,
        `audit_party_id` AS auditPartyId,
        `money` AS money,
        `is_audited` AS isAudited,
        `is_settled` AS isSettled,
        `type` AS type,
        `created_time` AS createdTime,
        `last_modified_time` AS lastModifiedTime
        FROM `t_stock_documents` AS document
        <where>
            <if test="documentsSearchDto != null">
                <if test="documentsSearchDto.startTime != null">
                    document.`created_time` &gt;= #{documentsSearchDto.startTime}
                </if>
                <if test="documentsSearchDto.endTime != null">
                    AND document.`last_modified_time` &lt;= #{documentsSearchDto.endTime}
                </if>
                <if test="documentsSearchDto.createdPartyId != null and documentsSearchDto.createdPartyId >= 0">
                    AND document.`created_party_id` = #{documentsSearchDto.createdPartyId}
                </if>
                <if test="documentsSearchDto.handlerPartyId != null and documentsSearchDto.handlerPartyId >= 0">
                    AND document.`handler_party_id` = #{documentsSearchDto.handlerPartyId}
                </if>
                <if test="documentsSearchDto.auditPartyId != null and documentsSearchDto.auditPartyId >= 0">
                    AND document.`audit_party_id` = #{documentsSearchDto.auditPartyId}
                </if>
                <if test="documentsSearchDto.kitchenId != null and documentsSearchDto.kitchenId >= 0">
                    AND document.`kitchen_id` = #{documentsSearchDto.kitchenId}
                </if>
                <if test="documentsSearchDto.isSettled != null and documentsSearchDto.isSettled >= 0">
                    AND document.`is_settled` = #{documentsSearchDto.isSettled}
                </if>
                <if test="documentsSearchDto.isAudited != null and documentsSearchDto.isAudited >= 0">
                    AND document.`is_audited` = #{documentsSearchDto.isAudited}
                </if>
                <if test="documentsSearchDto.type != null and documentsSearchDto.type >= 0">
                    AND document.`type` = #{documentsSearchDto.type}
                </if>
                ORDER BY `created_time` DESC
                <if test="documentsSearchDto != null
                      and documentsSearchDto.offset != null
                      and documentsSearchDto.offset >= 0
                      and documentsSearchDto.pageSize != null
                      and documentsSearchDto.pageSize >= 0">
                    LIMIT #{documentsSearchDto.offset},#{documentsSearchDto.pageSize}
                </if>
            </if>
        </where>
    </select>

    <delete id="delById">
        DELETE FROM t_stock_documents
        WHERE id = #{id}
    </delete>

    <select id="queryById" resultMap="pw.StockDocuments">
        SELECT `id` AS id,
        `supplier_id` AS supplierId,
        `kitchen_id` AS kitchenId,
        `serial_number` AS serialNumber,
        `comment` AS comment,
        `created_party_id` AS createdPartyId,
        `handler_party_id` AS handlerPartyId,
        `audit_party_id` AS auditPartyId,
        `money` AS money,
        `is_audited` AS isAudited,
        `is_settled` AS isSettled,
        `type` AS type,
        `created_time` AS createdTime,
        `last_modified_time` AS lastModifiedTime
        FROM `t_stock_documents` WHERE id = #{id}
    </select>

    <update id="updateIsAudited">
        UPDATE `t_stock_documents`
        SET `is_audited` = #{isAudited}
        WHERE `id` = #{documentsId}
    </update>

    <update id="updateIsSettled">
        UPDATE `t_stock_documents`
        SET `is_settled` = #{isSettled}
        WHERE `id` = #{documentsId}
    </update>

    <select id="listByTime" resultMap="pw.StockDocuments">
        SELECT `id` AS id,
        `supplier_id` AS supplierId,
        `kitchen_id` AS kitchenId,
        `serial_number` AS serialNumber,
        `comment` AS comment,
        `created_party_id` AS createdPartyId,
        `handler_party_id` AS handlerPartyId,
        `audit_party_id` AS auditPartyId,
        `money` AS money,
        `is_audited` AS isAudited,
        `is_settled` AS isSettled,
        `type` AS type,
        `created_time` AS createdTime,
        `last_modified_time` AS lastModifiedTime
        FROM t_stock_documents
        <where>
            <if test="startTime != null">
                `created_time` <![CDATA[ >]]> #{startTime}
            </if>
            AND `created_time` <![CDATA[ <]]> #{endTime}
        </where>
    </select>

    <select id="listByTimeAndIsAudited" resultMap="pw.StockDocuments">
        SELECT `id` AS id,
        `supplier_id` AS supplierId,
        `kitchen_id` AS kitchenId,
        `serial_number` AS serialNumber,
        `comment` AS comment,
        `created_party_id` AS createdPartyId,
        `handler_party_id` AS handlerPartyId,
        `audit_party_id` AS auditPartyId,
        `money` AS money,
        `is_audited` AS isAudited,
        `is_settled` AS isSettled,
        `type` AS type,
        `created_time` AS createdTime,
        `last_modified_time` AS lastModifiedTime
        FROM t_stock_documents
        <where>
            <if test="startTime != null">
                `created_time` &gt;= #{startTime}
            </if>
            AND `created_time` &lt;= #{endTime}
            AND `is_audited` = #{isAudited}
        </where>
    </select>

    <select id="listByTimeAndIsAudited1" resultMap="pw.StockDocuments">
        SELECT `id` AS id,
        `supplier_id` AS supplierId,
        `kitchen_id` AS kitchenId,
        `serial_number` AS serialNumber,
        `comment` AS comment,
        `created_party_id` AS createdPartyId,
        `handler_party_id` AS handlerPartyId,
        `audit_party_id` AS auditPartyId,
        `money` AS money,
        `is_audited` AS isAudited,
        `is_settled` AS isSettled,
        `type` AS type,
        `created_time` AS createdTime,
        `last_modified_time` AS lastModifiedTime
        FROM t_stock_documents
        <where>
            <if test="startTime != null">
                `created_time` &gt; #{startTime}
            </if>
            AND `created_time` &lt; #{endTime}
            AND `is_audited` = #{isAudited}
        </where>
    </select>

    <select id="countBySearchDto" resultType="int">
        SELECT COUNT(id)
        FROM `t_stock_documents` AS document
        <where>
            <if test="documentsSearchDto != null">
                <if test="documentsSearchDto.startTime != null">
                    document.`created_time` &gt;= #{documentsSearchDto.startTime}
                </if>
                <if test="documentsSearchDto.endTime != null">
                    AND document.`last_modified_time` &lt;= #{documentsSearchDto.endTime}
                </if>
                <if test="documentsSearchDto.createdPartyId != null and documentsSearchDto.createdPartyId >= 0">
                    AND document.`created_party_id` = #{documentsSearchDto.createdPartyId}
                </if>
                <if test="documentsSearchDto.handlerPartyId != null and documentsSearchDto.handlerPartyId >= 0">
                    AND document.`handler_party_id` = #{documentsSearchDto.handlerPartyId}
                </if>
                <if test="documentsSearchDto.auditPartyId != null and documentsSearchDto.auditPartyId >= 0">
                    AND document.`audit_party_id` = #{documentsSearchDto.auditPartyId}
                </if>
                <if test="documentsSearchDto.kitchenId != null and documentsSearchDto.kitchenId >= 0">
                    AND document.`kitchen_id` = #{documentsSearchDto.kitchenId}
                </if>
                <if test="documentsSearchDto.isSettled != null and documentsSearchDto.isSettled >= 0">
                    AND document.`is_settled` = #{documentsSearchDto.isSettled}
                </if>
                <if test="documentsSearchDto.isAudited != null and documentsSearchDto.isAudited >= 0">
                    AND document.`is_audited` = #{documentsSearchDto.isAudited}
                </if>
                <if test="documentsSearchDto.type != null and documentsSearchDto.type >= 0">
                    AND document.`type` = #{documentsSearchDto.type}
                </if>
            </if>
        </where>
    </select>

    <select id="listUnsettleAndAuditedDocumentsByEndTime" parameterType="date" resultMap="pw.StockDocuments">
        SELECT `id` AS id,
        `supplier_id` AS supplierId,
        `kitchen_id` AS kitchenId,
        `serial_number` AS serialNumber,
        `comment` AS comment,
        `created_party_id` AS createdPartyId,
        `handler_party_id` AS handlerPartyId,
        `audit_party_id` AS auditPartyId,
        `money` AS money,
        `is_audited` AS isAudited,
        `is_settled` AS isSettled,
        `type` AS type,
        `created_time` AS createdTime,
        `last_modified_time` AS lastModifiedTime
        FROM t_stock_documents
        <where>
            <if test="endTime != null || endTime != ''">
                `created_time` &lt;= #{endTime}
            </if>
            AND `is_audited` = 1
            AND `is_settled` = 0
            ORDER BY `created_time` DESC
        </where>
    </select>

    <select id="listByPage" resultMap="pw.StockDocuments">
        SELECT `id` AS id,
        `supplier_id` AS supplierId,
        `kitchen_id` AS kitchenId,
        `serial_number` AS serialNumber,
        `comment` AS comment,
        `created_party_id` AS createdPartyId,
        `handler_party_id` AS handlerPartyId,
        `audit_party_id` AS auditPartyId,
        `money` AS money,
        `is_audited` AS isAudited,
        `is_settled` AS isSettled,
        `type` AS type,
        `created_time` AS createdTime,
        `last_modified_time` AS lastModifiedTime
        FROM t_stock_documents
        ORDER BY `created_time` DESC
        LIMIT #{offset}, #{pageSize}
    </select>

    <select id="listDocumentsByCondition" resultMap="pw.StockDocuments">
        SELECT `id` AS id,
        `supplier_id` AS supplierId,
        `kitchen_id` AS kitchenId,
        `serial_number` AS serialNumber,
        `comment` AS comment,
        `created_party_id` AS createdPartyId,
        `handler_party_id` AS handlerPartyId,
        `audit_party_id` AS auditPartyId,
        `money` AS money,
        `is_audited` AS isAudited,
        `is_settled` AS isSettled,
        `type` AS type,
        `created_time` AS createdTime,
        `last_modified_time` AS lastModifiedTime
        FROM t_stock_documents
        <where>
            <if test="startTime != null">
                `created_time` &gt;= #{startTime}
            </if>
            <if test="endTime != null">
                AND `created_time` &lt;= #{endTime}
            </if>
            <if test="stockDocument.id>0 and stockDocument.id != null">
                AND `id` = #{stockDocument.id}
            </if>
            <if test="stockDocument.serialNumber != null">
                AND `serial_number` LIKE '%${stockDocument.serialNumber}'
            </if>
            <if test="stockDocument.createdPartyId>0 and stockDocument.createdPartyId != null">
                AND `created_party_id` = #{report.createdPartyId}
            </if>
            <if test="stockDocument.handlerPartyId>0 and stockDocument.handlerPartyId != null">
                AND `handler_party_id` = #{report.handlerPartyId}
            </if>
        </where>
        ORDER BY `created_time` DESC
        LIMIT #{offset}, #{pageSize}
    </select>

    <select id="count" resultType="int">
        SELECT COUNT(1) FROM `t_stock_documents`
    </select>

</mapper>