<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.emenu.mapper.stock.StockItemMapper">

    <select id="countByName" resultType="int">
        SELECT COUNT(1)
        FROM t_stock_item
        WHERE  name = #{name}
    </select>

    <update id="updateStockItemStatusById">
        UPDATE 't_stock_item'
        SET 'status' = #{status}
        WHERE 'id' = #{itemId};
    </update>

    <select id="listBySearchDto" resultMap="pw.StockItem">
        SELECT
          stockItem.`id` AS id,
          stockItem.`item_number` AS itemNumber,
          stockItem.`name` AS name,
          stockItem.`assistant_code` AS assistantCode,
          stockItem.`tag_id` AS tagId,
          tag.`name` AS tagName,
          stockItem.`specifications` AS specifications,
          stockItem.`storage_quantity` AS storageQuantity,
          stockItem.`cost_card_unit_id` AS costCardUnitId,
          unit.`name` AS costCardName,
          stockItem.`upper_quantity` AS upperQuantity,
          stockItem.`lower_quantity` AS lowerQuantity,
          stockItem.`remark`AS remark,
          stockItem.`stock_out_type` AS stockOutType,
          stockItem.`status` AS status,
          stockItem.`created_time` AS createdTime,
          stockItem.`last_modified_time` AS lastModifiedTime
        FROM `t_stock_item`stockItem
        LEFT JOIN `t_tag`tag ON tag.`id` = stockItem.`tag_id`
        LEFT JOIN `t_unit`unit ON stockItem.`cost_card_unit_id` = unit.`id`
        <where>
            stockItem.`status` = 1
            <if test="searchDto != null">
                <if test="searchDto.keyword != null and searchDto.keyword != ''">
                    AND
                    (
                      stockItem.`name` LIKE "%"#{searchDto.keyword}"%"
                      OR stockItem.`item_number` LIKE "%"#{searchDto.keyword}"%"
                      OR stockItem.`assistant_code` LIKE "%"#{searchDto.keyword}"%"
                    )
                </if>
                <if test="searchDto.tagIdList !=null and searchDto.tagIdList.size > 0">
                    AND stockItem.`tag_id` IN
                    <foreach collection="searchDto.tagIdList" item="tagId" open="(" separator="," close=")">
                        #{tagId}
                    </foreach>
                </if>
            </if>
        </where>
        ORDER BY stockItem.`tag_id` ASC ,stockItem.`id` ASC
        <if test="searchDto != null and searchDto.offset >= 0 and searchDto.pageSize > 0 ">
            LIMIT #{searchDto.offset}, #{searchDto.pageSize}
        </if>
    </select>
    <select id="listByPage" resultMap="pw.StockItem">
        SELECT
        stockItem.`id` AS id,
        stockItem.`item_number` AS itemNumber,
        stockItem.`name` AS name,
        stockItem.`assistant_code` AS assistantCode,
        stockItem.`tag_id` AS tagId,
        tag.`name` AS tagName,
        stockItem.`specifications` AS specifications,
        stockItem.`storage_quantity` AS storageQuantity,
        stockItem.`cost_card_unit_id` AS costCardUnitId,
        unit.`name` AS costCardName,
        stockItem.`upper_quantity` AS upperQuantity,
        stockItem.`lower_quantity` AS lowerQuantity,
        stockItem.`remark`AS remark,
        stockItem.`stock_out_type` AS stockOutType,
        stockItem.`status` AS status,
        stockItem.`created_time` AS createdTime,
        stockItem.`last_modified_time` AS lastModifiedTime
        FROM `t_stock_item`stockItem
        LEFT JOIN `t_tag`tag ON tag.`id` = stockItem.`tag_id`
        LEFT JOIN `t_unit`unit ON stockItem.`cost_card_unit_id` = unit.`id`
        WHERE stockItem.`status` = 1
        ORDER BY stockItem.`tag_id` ASC ,stockItem.`id` ASC
        <if test="offset >= 0 and pageSize > 0 ">
            LIMIT #{offset}, #{pageSize}
        </if>
    </select>
    <select id="count" resultType="int">
        SELECT COUNT(1)
        FROM `t_stock_item` WHERE status = 1
    </select>
</mapper>