<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.emenu.mapper.stock.StockDocumentsItemMapper">

    <delete id="delByDocumentsId">
       DELETE FROM t_stock_documents_item
       WHERE documents_id = #{documentsId}
    </delete>

    <select id="queryByDocumentsId" resultMap="pw.StockDocumentsItem">
        SELECT `id` AS `id`
        `documents_id` AS documentsId
        `item_id` AS itemId
        `standard_id` AS standardId
        `quantity` AS quatity
        `unit` As unit
        `unit_price` AS unitPrice
        `price` AS price
        `created_time` AS createdTime
        `last_modified_time` AS lastModifiedTime
        FROM t_stock_documents_item
        ORDER BY `created_time` DESC
    </select>

</mapper>