<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-3.0.xsd"
       default-autowire="byName" default-lazy-init="false">

    <!-- 定时任务 start -->

    <!--<bean id="countTimeTask" class="com.rest.call.timetask.CountTimeTaskService"/>-->
    <!--<bean id="statisticsTask" class="com.rest.call.timetask.StatisticsTaskService"/>-->

    <!--库存结算类-->
    <bean id="countSettlementTask" class="com.emenu.service.storage.impl.StorageSettlementServiceImpl"/>

    <!-- 库存定时结算统计 -->
    <bean id="countSettlement" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="countSettlementTask"/>
        <property name="targetMethod" value="newSettlement"/>
        <property name="concurrent" value="false"/>
    </bean>

    <bean id="cronTriggerCountSettlement" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="countSettlement"/>
        <!-- 每个月最后一天的23:59更新库存结算-->
        <property name="cronExpression" value="0 59 23 L * ?"/>
    </bean>

    <bean id="countSettlementTask1" class="com.emenu.service.storage.impl.StorageSettlementServiceImpl"/>

    <bean id="testJob" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="countSettlementTask" />
        <property name="targetMethod" value="test" />
    </bean>
    <bean id="testTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean" >
        <property name="jobDetail" ref="testJob" />
        <property name="cronExpression" value="0 0/1 * * * ?" />
    </bean>

    <!--&lt;!&ndash; 定时检查预警 &ndash;&gt;-->
    <!--<bean id="checkAlert" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">-->
        <!--<property name="targetObject" ref="countTimeTask"/>-->
        <!--<property name="targetMethod" value="checkAlert"/>-->
        <!--<property name="concurrent" value="false"/>-->
    <!--</bean>-->
    <!--<bean id="cronTriggerCheckAlert" class="org.springframework.scheduling.quartz.CronTriggerBean">-->
        <!--<property name="jobDetail" ref="checkAlert"/>-->
        <!--&lt;!&ndash; 每天下午4点检查预警&ndash;&gt;-->
        <!--<property name="cronExpression" value="0 0 16 * * ?"/>-->
    <!--</bean>-->

    <!--&lt;!&ndash;定时统计每天早晨3点对菜品销量统计&ndash;&gt;-->
    <!--<bean id="countDishSales" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">-->
        <!--<property name="targetObject" ref="statisticsTask"/>-->
        <!--<property name="targetMethod" value="insertToDishMarketing"/>-->
        <!--<property name="concurrent" value="false"/>-->
    <!--</bean>-->

    <!--<bean id="cronTriggerCountDishSales" class="org.springframework.scheduling.quartz.CronTriggerBean">-->
        <!--<property name="jobDetail" ref="countDishSales"/>-->
        <!--<property name="cronExpression" value="0 0 3 * * ?"/>-->
    <!--</bean>-->

    <!--&lt;!&ndash;定时统计每天餐桌用量&ndash;&gt;-->
    <!--<bean id="countTableUse" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">-->
        <!--<property name="targetObject" ref="statisticsTask"/>-->
        <!--<property name="targetMethod" value="insertToTableUse"/>-->
        <!--<property name="concurrent" value="false"/>-->
    <!--</bean>-->

    <!--<bean id="cronTriggerCountTableUse" class="org.springframework.scheduling.quartz.CronTriggerBean">-->
        <!--<property name="jobDetail" ref="countTableUse"/>-->
        <!--<property name="cronExpression" value="0 0 2 * * ?"/>-->
    <!--</bean>-->

    <!--&lt;!&ndash;定时调用存储过程&ndash;&gt;-->
    <!--<bean id="updateDay" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">-->
        <!--<property name="targetObject" ref="statisticsTask"/>-->
        <!--<property name="targetMethod" value="updateDay"/>-->
        <!--<property name="concurrent" value="false"/>-->
    <!--</bean>-->

    <!--<bean id="cronTriggerUpdateDay" class="org.springframework.scheduling.quartz.CronTriggerBean">-->
        <!--<property name="jobDetail" ref="updateDay"/>-->
        <!--<property name="cronExpression" value="0 0 23 * * ?"/>-->
    <!--</bean>-->

    <!--<bean id="updateYesterDayFinanceList" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">-->
        <!--<property name="targetObject" ref="statisticsTask" />-->
        <!--<property name="targetMethod" value="updateYesterDayFinanceList" />-->
        <!--<property name="concurrent" value="false" />-->
    <!--</bean>-->
    <!--<bean id="cronTriggerUpdateYesterDayFinanceList" class="org.springframework.scheduling.quartz.CronTriggerBean">-->
        <!--<property name="jobDetail" ref="updateYesterDayFinanceList" />-->
        <!--<property name="cronExpression" value="0 0 2 * * ?" />-->
     <!--</bean>-->

    <!-- 定时器队列 -->
    <bean id="schedulerFactoryBean" class="org.springframework.scheduling.quartz.SchedulerFactoryBean" autowire="no">
        <property name="triggers">
            <list>
                <!-- 库存结算 -->
                <ref bean="cronTriggerCountSettlement"/>
                <!--<ref bean="cronTriggerCheckAlert"/>-->
                <!--<ref bean="cronTriggerCountDishSales"/>-->
                <!--<ref bean="cronTriggerCountTableUse"/>-->
                <!--<ref bean="cronTriggerUpdateDay"/>-->
                <!--<ref bean="cronTriggerUpdateYesterDayFinanceList" />-->
            </list>
        </property>
    </bean>
    <!-- 定时任务 end -->
</beans>