<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.emenu.mapper.remark.RemarkTagMapper">
    <select id="listAll" resultMap="pw.RemarkTag">
        SELECT
        `id`,
        `name`,
        `p_id`
        FROM `t_remark_tag`
        WHERE `status` = 1
    </select>
    
    <select id="countByName" resultType="int">
        SELECT COUNT(1)
        FROM `t_remark_tag`
        WHERE `name` = #{name} AND `status` = 1
    </select>

    <update id="updateStatus">
        UPDATE `t_remark_tag`
        SET `status` = #{status}
        WHERE `id` = #{id}
    </update>

    <select id="listByParentId" resultMap="pw.RemarkTag">
        SELECT
        `id`,
        `name`,
        `p_id`
        FROM `t_remark_tag`
        WHERE `status` = 1
        AND `p_id` = #{pId}
    </select>
</mapper>