<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.emenu.mapper.dish.unit.UnitMapper">

    <select id ="listAll" resultMap="pw.Unit">
        SELECT
            *
        FROM `t_unit`
    </select>

    <select id="listByPage" resultMap="pw.Unit">
        SELECT
            *
        FROM
            `t_unit`
        LIMIT #{offset},#{pageSize}
    </select>

    <select id="countAll" resultType="int">
        SELECT
            COUNT(*)
        FROM
            `t_unit`
    </select>

    <select id ="queryById" resultMap="pw.Unit">
        SELECT
            *
        FROM
            `t_unit`
        WHERE `id`=#{id}
    </select>

    <select id="checkNameIsExist" resultType="int">
        SELECT
            COUNT(*)
        FROM
            t_unit
        WHERE `name` = #{name}
        <if test="oldname != null">
            AND `name` != #{oldname}
        </if>
    </select>


</mapper>