<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.emenu.mapper.dish.unit.UnitMapper">

    <select id ="listAllUnit" resultMap="pw.Unit">
        SELECT *
        FROM `t_dish_unit`
    </select>

    <select id="listUnitByPage" resultMap="pw.Unit">
        SELECT
            *
        FROM
            `t_dish_unit`
        LIMIT #{offset},#{pageSize}
    </select>

    <select id="countUnit" resultType="int">
        SELECT
            COUNT(*)
        FROM
            `t_dish_unit`
    </select>

    <select id ="queryUnitById" resultMap="pw.Unit">
        SELECT *
        FROM `t_dish_unit`
        WHERE `id`=#{id}
    </select>



</mapper>