<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.emenu.mapper.printer.DishTagPrinterMapper">
    <select id="queryByTagId" resultMap="pw.Printer">
        SELECT `t_printer`.*
        FROM `t_printer`,`t_dish_tag_printer`
        WHERE `t_dish_tag_printer`.`dish_tag_id` = #{id}
        AND `t_printer`.`id` = `t_dish_tag_printer`.`printer_id`
    </select>

    <select id="listTagById" resultMap="pw.Tag">
        SELECT `t_tag`.*
        FROM `t_tag`,`t_dish_tag_printer`
        WHERE `t_dish_tag_printer`.`printer_id` = #{id}
        AND `t_dish_tag_printer`.`type` = 1
        AND `t_dish_tag_printer`.`dish_tag_id` = `t_tag`.`id`
        ORDER BY `t_tag`.`id`
    </select>

    <select id="listAvailableDishTag" resultMap="pw.Tag">
        SELECT `t_tag`.*
        FROM `t_tag`,`t_dish_tag_printer`
        WHERE `t_dish_tag_printer`.`printer_id` = 0
        AND `t_dish_tag_printer`.`dish_tag_id` = `t_tag`.`id`
        ORDER BY `t_tag`.`id`
    </select>

    <insert id="newPrinterDish">
        INSERT INTO `t_dish_tag_printer` (`dish_tag_id`, `printer_id`,`type`)
        VALUES (#{dishTagPrinter.dishId}, #{dishTagPrinter.printerId}, #{dishTagPrinter.type} )
    </insert>

    <update id="updatePrinterDish">
        UPDATE `t_dish_tag_printer`
        SET `printer_id`= #{dishTagPrinter.printerId}
        WHERE `dish_tag_id` = #{dishTagPrinter.dishId}
    </update>

    <delete id="delPrinterDish">
        DELETE FROM `t_dish_tag_printer`
        WHERE `dish_tag_id` = #{tagId}
    </delete>

    <update id="bindDishTag">
        UPDATE `t_dish_tag_printer`
        SET `printer_id` = #{printerId}
        WHERE `dish_tag_id` = #{dishTagId}
    </update>

    <update id="unBindAllDishTag">
        UPDATE `t_dish_tag_printer`
        SET `printer_id` = 0
        WHERE `printer_id` = #{printerId}
    </update>
</mapper>