<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.emenu.mapper.vip.VipAccountInfoMapper">

    <!-- pengpeng 2016.8.9修改  加入status判断,以及status按DESC显示到页面-->
    <select id="listByPageAndMin" resultType="com.emenu.common.dto.vip.VipAccountInfoDto">
        SELECT vipcount.`id` AS id,
                grade.`min_consumption` AS minConsumption,
                grade.`name` AS vipGrade,
                vipinfo.`name` AS NAME,
                vipinfo.`phone` AS phone,
                card.`card_number` AS cardNumber,
                vipcount.`balance` AS balance,
                vipcount.`integral` AS integral,
                vipcount.`total_consumption` AS totalConsumption,
                vipcount.`used_credit_amount` AS usedCreditAmount,
                vipcount.`status` AS STATUS
        FROM `t_vip_account_info` vipcount
        LEFT JOIN `t_party_vip_info` vipinfo ON vipcount.`party_id` = vipinfo.`party_id`
        LEFT JOIN `t_vip_grade` grade ON grade.`id` = vipinfo.`grade_id`
        LEFT JOIN `t_vip_card` card ON vipcount.`party_id` = card.`vip_party_id`
        <where>
            <if test="gradeIdList != null and gradeIdList.size()>0">
                 grade.`id` IN
                <foreach collection="gradeIdList" index="index" item="gradeId" open="(" separator="," close=")">
                    #{gradeId}
                </foreach>
            </if>
            AND  (
            vipinfo.`name` LIKE "%"#{keyWord}"%"
            OR vipinfo.`phone` LIKE "%"#{keyWord}"%"
            OR  card.`card_number` LIKE "%"#{keyWord}"%"
            )
            AND vipcount.`status` != 2
        </where>
        <if test="orderType == 1">
            ORDER BY vipcount.`status` DESC, ${orderBy} ASC
        </if>
        <if test="orderType == 0">
            ORDER BY vipcount.`status` DESC, ${orderBy} DESC
        </if>
        LIMIT #{offset},#{pageSize}
    </select>

    <select id="countAll" resultType="int">
        SELECT
        COUNT(1)
        FROM
        `t_vip_account_info`
    </select>

    <update id="updateStatusById">
        UPDATE `t_vip_account_info`
        SET `status` = #{status}
        WHERE `id` = #{id}
    </update>

    <select id="queryByPartyId" resultType="com.emenu.common.dto.vip.VipAccountInfoDto">
        SELECT * FROM `t_vip_account_info`
        WHERE `party_id` = #{partyId}
        AND `status` = 1
    </select>
    <!--/   pengpeng做的修改  2016.8.9  -->
    <select id="queryEntityByPartyId" resultMap="pw.VipAccountInfo">
        SELECT * FROM `t_vip_account_info`
        WHERE `party_id` = #{partyId}
        /*AND `status` = 1*/
        AND `status` != 2
    </select>

    <select id="CountByKeywordAndGrade" resultType="int">
        SELECT count(1)
        FROM (
        SELECT vipcount.`id` AS id,
        grade.`min_consumption` AS minConsumption,
        grade.`name` AS vipGrade,
        vipinfo.`name` AS NAME,
        vipinfo.`phone` AS phone,
        card.`card_number` AS cardNumber,
        vipcount.`balance` AS balance,
        vipcount.`integral` AS integral,
        vipcount.`total_consumption` AS totalConsumption,
        vipcount.`used_credit_amount` AS usedCreditAmount,
        vipcount.`status` AS STATUS
        FROM `t_vip_account_info` vipcount
        LEFT JOIN `t_party_vip_info` vipinfo ON vipcount.`party_id` = vipinfo.`party_id`
        LEFT JOIN `t_vip_grade` grade ON grade.`id` = vipinfo.`grade_id`
        LEFT JOIN `t_vip_card` card ON vipcount.`party_id` = card.`vip_party_id`
        <where>
            <if test="gradeIdList != null and gradeIdList.size()>0">
                grade.`id` IN
                <foreach collection="gradeIdList" index="index" item="gradeId" open="(" separator="," close=")">
                    #{gradeId}
                </foreach>
            </if>
            AND  (
            vipinfo.`name` LIKE "%"#{keyWord}"%"
            OR vipinfo.`phone` LIKE "%"#{keyWord}"%"
            OR  card.`card_number` LIKE "%"#{keyWord}"%"
            )
        </where>
        ) AS total
    </select>
</mapper>