<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.emenu.mapper.vip.VipDishPriceMapper">

    <select id="listAll" resultMap="pw.VipDishPrice">
        SELECT `id`,
        `vip_dish_price_plan_id` AS vipDishPricePlanId,
        `dish_id` AS dishId,
        `vip_dish_price` AS vipDishPrice
        FROM `t_vip_dish_price`
        ORDER BY  `id` ASC
    </select>
    
    <select id="listByVipDishPricePlanId" resultMap="pw.VipDishPrice">
        SELECT `id`,
        `vip_dish_price_plan_id` AS vipDishPricePlanId,
        `dish_id` AS dishId,
        `vip_dish_price` AS vipDishPrice
        FROM `t_vip_dish_price`
        WHERE vip_dish_price_plan_id = #{vipDishPricePlanId}
        ORDER BY `id` ASC
    </select>

    <select id="listDishPriceDtosByPage" resultType="com.emenu.common.dto.vip.VipDishPriceDto">
        SELECT tableVipDishPrice.`id` AS `id`,
        dish.`dish_number` AS dishNumber,
        dish.`assistant_code` AS assistantCode,
        tableVipDishPrice.`dish_id` AS dishId,
        dish.`name` AS dishName,
        dish.`price` AS price,
        dish.`sale_price` AS salePrice,
        tableVipDishPrice.`vip_dish_price` AS vipDishPrice
        FROM `t_vip_dish_price` tableVipDishPrice,
        `t_dish` dish
        WHERE dish.`id` = tableVipDishPrice.`dish_id`
        AND tableVipDishPrice.`vip_dish_price_plan_id` = #{vipDishPricePlanId}
        ORDER BY  tableVipDishPrice.`id` ASC
        LIMIT #{offset},#{pageSize}
    </select>
    
    <select id="countAllByVipDishPricePlanId" resultType="int">
        SELECT COUNT(1)
        FROM `t_vip_dish_price`
        WHERE `t_vip_dish_price`.vip_dish_price_plan_id = #{vipDishPricePlanId}
    </select>
    
    <select id="listDishPriceDtosByKeyword" resultType="com.emenu.common.dto.vip.VipDishPriceDto">
        SELECT tableVipDishPrice.`id` AS `id`,
        dish.`dish_number` AS dishNumber,
        dish.`assistant_code` AS assistantCode,
        tableVipDishPrice.`dish_id` AS dishId,
        dish.`name` AS dishName,
        dish.`price` AS price,
        dish.`sale_price` AS salePrice,
        tableVipDishPrice.`vip_dish_price` AS vipDishPrice
        FROM `t_vip_dish_price` tableVipDishPrice,
        `t_dish` dish
        <where>
            <if test="keyword != null">
                (dish.`dish_number` LIKE "%"#{keyword}"%"
                OR dish.`assistant_code` like "%"#{keyword}"%"
                OR dish.`name` like "%"#{keyword}"%")
                AND dish.`id` = tableVipDishPrice.`dish_id`
                AND tableVipDishPrice.vip_dish_price_plan_id = #{vipDishPricePlanId}
            </if>
        </where>
        ORDER BY  tableVipDishPrice.`id` ASC
        LIMIT #{offset},#{pageSize}
    </select>
    
    <select id="queryById" resultMap="pw.VipDishPrice">
        SELECT id,
        `vip_dish_price_plan_id` AS vipDishPricePlanId,
        `dish_id` AS dishId,
        `vip_dish_price` AS vipDishPrice
        FROM `t_vip_dish_price`
        <where>
            <if test="id != null">
                id = #{id}
            </if>
        </where>
    </select>
    
    <select id="countByDishId" resultType="int">
        SELECT count(1)
        FROM `t_vip_dish_price`
        WHERE `dish_id` = #{dishId}
    </select>

    <select id="queryByDishIdAndVipDishPricePlanId" resultMap="pw.VipDishPrice">
        SELECT `id`,
        `vip_dish_price_plan_id` AS vipDishPricePlanId,
        `dish_id` AS dishId,
        `vip_dish_price` AS vipDishPrice
        FROM `t_vip_dish_price`
        WHERE `dish_id` = #{dishId}
        AND `vip_dish_price_plan_id` = #{vipDishPricePlanId}
        ORDER BY `id` ASC
    </select>

    <insert id="insertAll">
        INSERT INTO `t_vip_dish_price`(`vip_dish_price_plan_id`, `dish_id`, `vip_dish_price`)
        VALUES
        <foreach collection="vipDishPriceList" item="vipDishPrice" separator=",">
            (#{vipDishPrice.vipDishPricePlanId}, #{vipDishPrice.dishId}, #{vipDishPrice.vipDishPrice})
        </foreach>
        ON DUPLICATE KEY UPDATE `vip_dish_price` = VALUES(`vip_dish_price`)
    </insert>
</mapper>