<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.emenu.mapper.vip.VipGradeMapper">
    <select id="listAll" resultMap="pw.VipGrade">
        SELECT `id`, `name`,
        `vip_dish_price_plan_id` AS vipDishPricePlanId,
        `min_consumption` AS minConsumption,
        `credit_amount` AS creditAmount,
        `settlement_cycle` AS settlementCycle,
        `pre_reminder_amount` AS preReminderAmount,
        `integral_enable_state` AS integralEnableState,
        `card_policy` AS cardPolicy
        FROM `t_vip_grade`
    </select>

    <select id="countByVipPricePlanId" resultType="int">
        SELECT COUNT(1) FROM `t_vip_grade` WHERE `vip_dish_price_plan_id` = #{vipDishPricePlanId}
    </select>

    <select id="countMinConsumptionUsingNumber" resultMap="pw.VipGrade">
        SELECT `id`, `name`,
        `vip_dish_price_plan_id` AS vipDishPricePlanId,
        `min_consumption` AS minConsumption,
        `credit_amount` AS creditAmount,
        `settlement_cycle` AS settlementCycle,
        `pre_reminder_amount` AS preReminderAmount,
        `integral_enable_state` AS integralEnableState,
        `card_policy` AS cardPolicy
        FROM `t_vip_grade` WHERE `min_consumption` = #{minConsumption}
    </select>

    <update id="updateIntegralStatus">
        UPDATE `t_vip_grade`
        SET `integral_enable_state` = #{status}
        WHERE `id` = #{id}
    </update>
    
    <select id="countVipDishPricePlan" resultType="int">
        SELECT COUNT(1)
        FROM t_vip_grade
        WHERE vip_dish_price_plan_id = #{vipDishPricePlanId}
    </select>
</mapper>
