<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.emenu.mapper.dish.CostCardItemMapper">
   <select id="listByCostCardId" resultType="CostCardItemDto">
       SELECT t_cost_card_item.`id` AS id,
       t_cost_card_item.`net_count` AS netCount,
       t_cost_card_item.`total_count` AS otherCount,
       t_cost_card_item.`item_type` AS itemType,
       t_cost_card_item.`cost_card_id` AS costCardId,
       t_cost_card_item.`is_auto_out` AS isAutoOut,
       t_ingredient.`id` AS ingredientId,
       t_ingredient.`name` AS ingredientName,
       t_ingredient.`average_price` AS averagePrice,
       t_unit.`name` AS costCardUnit
       FROM `t_cost_card_item`
       LEFT JOIN `t_ingredient`  ON t_cost_card_item.`ingredient_id` = t_ingredient.`id`
       LEFT JOIN `t_unit`  ON t_ingredient.`cost_card_unit_id` = t_unit.`id`
       WHERE t_cost_card_item.`cost_card_id` = #{costCardId}
       ORDER BY t_cost_card_item.`item_type` ASC
   </select>

    <select id="listByCardId" resultMap="pw.CostCardItem">
        SELECT item.`id`,item.`net_count`,item.`total_count`, item.`item_type`, item.`cost_card_id`,item.`ingredient_id`,item.`is_auto_out`
        FROM `t_cost_card_item` item
        WHERE item.`cost_card_id` = #{cardId}
    </select>

    <delete id="delByCostCardItems" parameterType="java.util.List">
        DELETE
        FROM t_cost_card_item
        <where>
            <if test="costCardItems != null and costCardItems.size != 0">
                t_cost_card_item.`ingredient_id`
                IN
                <foreach item="item" collection="costCardItems" open="(" separator="," close=")">
                  #{item.ingredientId}
                </foreach >
            </if>
        </where>
    </delete>

    <update id="updateByCardId">

            UPDATE t_cost_card_item
            SET
                t_cost_card_item.`net_count` = #{costCardItem.netCount},
                t_cost_card_item.`total_count` = #{costCardItem.otherCount},
                t_cost_card_item.`item_type` = #{costCardItem.itemType},
                t_cost_card_item.`is_auto_out` = #{costCardItem.isAutoOut}

            where t_cost_card_item.`cost_card_id` = #{costCardItem.costCardId} AND t_cost_card_item.`ingredient_id` = #{costCardItem.ingredientId}

    </update>



    <insert id="newCostCardItems" parameterType="java.util.List">
        INSERT INTO `t_cost_card_item`(ingredient_id,cost_card_id,item_type,net_count,total_count,is_auto_out)
        VALUES
        <foreach collection="costCardItemList" index="index" item="item" separator=",">
            (#{item.ingredientId},#{item.costCardId},#{item.itemType},#{item.netCount},#{item.otherCount},#{item.isAutoOut})
        </foreach>
    </insert>

    <delete id="delByCostCardId">
        DELETE
        FROM `t_cost_card_item`
        WHERE t_cost_card_item.`cost_card_id` = #{costCardId}
    </delete>

</mapper>