<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.emenu.mapper.dish.CostCardMapper">

    <insert id = "newCostCard" useGeneratedKeys="true" keyProperty="costCard.id">
        INSERT INTO t_cost_card(cost_card_number,dish_id,main_cost,assist_cost,delicious_cost,standard_cost)
        VALUES (#{costCard.costCardNumber},#{costCard.dishId},
                 #{costCard.mainCost},#{costCard.assistCost},#{costCard.deliciousCost},#{costCard.standardCost})
    </insert>

    <delete id = "delCostCardById">
        DELETE FROM t_cost_card
        WHERE id = #{id}
    </delete>

    <select id="queryById" resultType="CostCardDto">
        SELECT t_cost_card.`id` as id,
                t_dish.`name` AS name,
                t_dish.`id` AS dishId,
                t_dish.`assistant_code` AS assistantCode,
                t_cost_card.`cost_card_number` AS costCardNumber,
                t_cost_card.`main_cost` AS mainCost,
                t_cost_card.`assist_cost` AS assistCost,
                t_cost_card.`delicious_cost` AS deliciousCost,
                t_cost_card.`standard_cost` AS standardCost
        FROM t_cost_card LEFT JOIN t_dish
        ON    t_dish.id = t_cost_card.dish_id
        WHERE t_cost_card.`id` = #{id}
    </select>

    <update id = "updateCostCard">
        UPDATE t_cost_card
        SET cost_card_number = #{costCard.costCardNumber},
            main_cost = #{costCard.mainCost},
            assist_cost = #{costCard.assistCost},
            delicious_cost = #{costCard.deliciousCost},
            standard_cost = #{costCard.standardCost}
        WHERE id = #{costCard.id}
    </update>

    <select id ="queryCostCardDto" resultType="CostCardDto">
        SELECT t_cost_card.id as id,
                t_dish.name AS name,
                t_dish.`id` AS dishId,
                t_dish.assistant_code AS assistantCode,
                t_cost_card.cost_card_number AS costCardNumber,
                t_cost_card.main_cost AS mainCost,
                t_cost_card.assist_cost AS assistCost,
                t_cost_card.delicious_cost AS deliciousCost,
                t_cost_card.standard_cost AS standardCost
        FROM   t_cost_card LEFT JOIN t_dish
        ON    t_dish.id = t_cost_card.dish_id
        LEFT JOIN t_dish_tag
        ON t_dish.id = t_dish_tag.dish_id
        <where>
            <if test="searchDto.keyword != null and searchDto.keyword !='' ">
                (
                  t_dish.name LIKE "%"#{searchDto.keyword}"%"
                  OR t_dish.assistant_code LIKE "%"#{searchDto.keyword}"%"
                )
            </if>
            <if test = "searchDto.tagIdList != null and searchDto.tagIdList.size >0 ">
                AND t_dish.tag_id IN
                <foreach collection="searchDto.tagIdList" item="tagId" open="(" separator="," close=")">
                    #{tagId}
                </foreach>
            </if>
            AND t_dish.`status` != 3
            AND t_dish.`category_id` != 6
        </where>
        <if test="offset >= 0 and searchDto.pageSize > 0">
            LIMIT #{offset}, #{searchDto.pageSize}
        </if>
    </select>

    <select id = "countBySearchDto" resultType="int">
        SELECT COUNT(1)
        FROM  t_cost_card LEFT JOIN t_dish
        ON t_dish.id = t_cost_card.dish_id
        LEFT JOIN t_dish_tag
        ON t_dish.id = t_dish_tag.dish_id
        <where>
            <if test="searchDto.keyword != null and searchDto.keyword !='' ">
                (
                t_dish.name LIKE "%"#{searchDto.keyword}"%"
                OR t_dish.assistant_code LIKE "%"#{searchDto.keyword}"%"
                )
            </if>
            <if test = "searchDto.tagIdList != null and searchDto.tagIdList.size >0 ">
                AND t_dish.tag_id IN
                <foreach collection="searchDto.tagIdList" item="tagId" open="(" separator="," close=")">
                    #{tagId}
                </foreach>
                AND t_dish.`status` != 3
                AND t_dish.`category_id` != 6
            </if>
        </where>
    </select>

</mapper>