<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.emenu.mapper.dish.CostCardMapper">

    <insert id = "newCostCard">
        INSERT INTO t_cost_card(cost_card_number,dish_id
        ,main_cost,assist_cost,delicious_cost,standard_cost)
        VALUES (#{costCard.costCardNumber},#{costCard.dishId},#{costCard.mainCost}
        ,#{costCard.assistCost},#{costCard.deliciousCost},#{costCard.standardCost})
    </insert>

    <delete id = "delCostCardById">
        DELETE FROM t_cost_card
        WHERE id = #{id}
    </delete>

    <update id = "updateCostCard">
        UPDATE t_cost_card SET cost_card_number=#{costCard.costCardNumber}
        ,dish_id=#{costCard.dishId},main_cost=#{costCard.mainCost}
        ,assist_cost=#{costCard.assistCost},delicious_cost=#{costCard.deliciousCost}
        ,standard_cost=#{costCard.standardCost}
        WHERE id=#{costCard.id}
    </update>
</mapper>