<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.emenu.mapper.dish.DishMealPeriodMapper">

    <delete id="delByDishId">
        DELETE FROM `t_dish_meal_period`
        WHERE `dish_id` = #{dishId}
    </delete>

    <select id="listByDishId" resultMap="pw.DishMealPeriod">
        SELECT `id` AS  id,
                `dish_id` AS  dishId,
                `meal_period_id` AS mealPeriodId,
                `created_time` AS  createdTime,
                `last_modified_time` AS lastModifiedTime
        WHERE `dish_id` = #{dishId}
    </select>
</mapper>