<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.emenu.mapper.dish.DishPackageMapper">

    <delete id="delByPackageId">
        DELETE FROM `t_dish_package` WHERE `package_id` = #{packageId}
    </delete>

    <select id="listDishPackage" resultMap="pw.DishPackage">
    SELECT id,package_id,dish_id,dish_quantity
    FROM t_dish_package
    WHERE package_id = #{packageId}
    </select>

    <select id="countByPackageId" resultType="int">
    SELECT COUNT(*)
    FROM t_dish_package
    WHERE package_id = #{packageId}
    </select>

    <select id="listAll" resultMap="pw.Dish">
        SELECT
        dish.`id` AS id,
        dish.`name` AS NAME,
        dish.`dish_number` AS dishNumber,
        dish.`assistant_code` AS assistantCode,
        dish.`unit_id` AS unitId,
        unit.`name` AS unitName,
        dish.`price` AS price,
        dish.`sale_type` AS saleType,
        dish.`discount` AS discount,
        dish.`sale_price` AS salePrice,
        dish.`category_id` AS categoryId,
        dish.`tag_id` AS tagId,
        dish.`description` AS description,
        dish.`status` AS status,
        dish.`like_nums` AS likeNums,
        dish.`is_network_available` AS isNetworkAvailable,
        dish.`is_vip_price_available` AS isVipPriceAvailable,
        dish.`is_voucher_available` AS isVoucherAvailable,
        dish.`time_limit` AS timeLimit,
        dish.`created_party_id` AS createdPartyId,
        dish.`created_time` AS createdTime,
        dish.`last_modified_time` AS lastModifiedTime
        FROM `t_dish` dish
        LEFT JOIN `t_unit` unit ON dish.`id` = unit.`id`
        WHERE dish.`status` != 3
        AND dish.`category_id` = 6
        ORDER BY dish.`id` DESC
    </select>
</mapper>