<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.emenu.mapper.dish.DishTasteMapper">

    <delete id="delByDishId">
        DELETE FROM `t_dish_taste`
        WHERE `dish_id` = #{dishId}
    </delete>
    
    <select id="listByDishId" resultMap="pw.DishTaste">
        SELECT
            `id`,
            `dish_id`,
            `taste_id`,
            `created_time`,
            `last_modified_time`
        FROM `t_dish_taste`
        WHERE `dish_id` = #{dishId}
    </select>
</mapper>