<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.emenu.mapper.dish.DishRemarkTagMapper">

    <insert id="newDishRemarkTag" parameterType="java.util.List">
        INSERT INTO `t_dish_remark_tag`(tag_id,remark_tag_id)
        VALUES
        <foreach collection="dishRemarkTags" index="index" item="item" separator=",">
            (#{item.tagId},#{item.remarkTagId})
        </foreach>
    </insert>

    <delete id="delByTagId">
        DELETE
        FROM `t_dish_remark_tag`
        WHERE t_dish_remark_tag.`tag_id` = #{tagId}
    </delete>

    <select id="queryByTagId" resultMap="pw.Remark">
        SELECT t_remark.`id`, t_remark.`name`, t_remark.`remark_tag_id`, t_remark.`weight`, t_remark.`is_common`, t_remark.`related_charge`, t_remark.`status`,
        t_remark.`created_time`, t_remark.`last_modified_time`
        FROM t_dish_remark_tag LEFT JOIN t_remark_tag ON t_dish_remark_tag.`remark_tag_id` = t_remark_tag.`id`
                               LEFT  JOIN  t_remark ON t_remark_tag.`id` = t_remark.`remark_tag_id`
        WHERE t_dish_remark_tag.`tag_id` = #{tagId} AND t_remark.status != 2
    </select>

</mapper>