<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.emenu.mapper.dish.DishMapper">
    <select id="listAll" resultMap="pw.Dish">
        SELECT
            dish.`id` AS id,
            dish.`name` AS NAME,
            dish.`dish_number` AS dishNumber,
            dish.`assistant_code` AS assistantCode,
            dish.`unit_id` AS unitId,
            unit.`name` AS unitName,
            dish.`price` AS price,
            dish.`sale_type` AS saleType,
            dish.`discount` AS discount,
            dish.`sale_price` AS salePrice,
            dish.`category_id` AS categoryId,
            dish.`tag_id` AS tagId,
            dish.`description` AS description,
            dish.`status` AS status,
            dish.`like_nums` AS likeNums,
            dish.`is_network_available` AS isNetworkAvailable,
            dish.`is_vip_price_available` AS isVipPriceAvailable,
            dish.`is_voucher_available` AS isVoucherAvailable,
            dish.`time_limit` AS timeLimit,
            dish.`created_party_id` AS createdPartyId,
            dish.`created_time` AS createdTime,
            dish.`last_modified_time` AS lastModifiedTime
        FROM `t_dish` dish
        LEFT JOIN `t_unit` unit ON dish.`id` = unit.`id`
        WHERE dish.`status` != 3
        AND dish.`category_id` != 6
        ORDER BY dish.`id` DESC
    </select>

    <select id="listByKeyword" resultType="DishSmallDto">
        SELECT t_dish.id AS id,t_dish.name AS name,t_dish.`assistant_code` AS assistantCode
        FROM `t_dish`
        <where>
            <if test="keyword != null and keyword != ''">
                t_dish.`name` LIKE "%"#{keyword}"%"
                OR t_dish.`assistant_code` LIKE "%"#{keyword}"%"
            </if>
        </where>
    </select>
    
    <select id="listBySearchDto" resultMap="pw.Dish">
        SELECT
            dish.`id` AS id,
            dish.`name` AS NAME,
            dish.`dish_number` AS dishNumber,
            dish.`assistant_code` AS assistantCode,
            dish.`unit_id` AS unitId,
            unit.`name` AS unitName,
            dish.`price` AS price,
            dish.`sale_type` AS saleType,
            dish.`discount` AS discount,
            dish.`sale_price` AS salePrice,
            dish.`category_id` AS categoryId,
            dish.`tag_id` AS tagId,
            dish.`description` AS description,
            dish.`status` AS status,
            dish.`like_nums` AS likeNums,
            dish.`is_network_available` AS isNetworkAvailable,
            dish.`is_vip_price_available` AS isVipPriceAvailable,
            dish.`is_voucher_available` AS isVoucherAvailable,
            dish.`time_limit` AS timeLimit,
            dish.`created_party_id` AS createdPartyId,
            dish.`created_time` AS createdTime,
            dish.`last_modified_time` AS lastModifiedTime
        FROM `t_dish` dish
        LEFT JOIN `t_unit` unit ON dish.`unit_id` = unit.`id`
        <where>
            <if test="searchDto.keyword != null and searchDto.keyword != ''">
                (
                  dish.`name` LIKE "%"#{searchDto.keyword}"%"
                  OR dish.`dish_number` LIKE "%"#{searchDto.keyword}"%"
                  OR dish.`assistant_code` LIKE "%"#{searchDto.keyword}"%"
                )
            </if>
            <if test="searchDto.tagIdList != null and searchDto.tagIdList.size > 0">
                AND dish.`tag_id` IN
                <foreach collection="searchDto.tagIdList" item="tagId" open="(" separator="," close=")">
                    #{tagId}
                </foreach>
            </if>
            <if test="searchDto.dishIdList != null and searchDto.dishIdList.size > 0">
                AND dish.`id` IN
                <foreach collection="searchDto.dishIdList" item="dishId" open="(" separator="," close=")">
                    #{dishId}
                </foreach>
            </if>
            AND dish.`status` != 3
            <if test="searchDto.isPackage == 0">
                AND `category_id` != 6
            </if>
            <if test="searchDto.isPackage == 1">
                AND `category_id` = 6
            </if>
        </where>
        ORDER BY dish.${searchDto.orderByColumn}
        <if test="searchDto.orderType == 0">
            DESC
        </if>
        <if test="searchDto.orderType == 1">
            ASC
        </if>
        <if test="offset >= 0 and searchDto.pageSize > 0">
            LIMIT #{offset}, #{searchDto.pageSize}
        </if>
    </select>

    <select id="countBySearchDto" resultType="int">
        SELECT COUNT(1)
        FROM `t_dish`
        <where>
            <if test="searchDto.keyword != null and searchDto.keyword != ''">
                (
                `name` LIKE "%"#{searchDto.keyword}"%"
                OR `dish_number` LIKE "%"#{searchDto.keyword}"%"
                OR `assistant_code` LIKE "%"#{searchDto.keyword}"%"
                )
            </if>
            <if test="searchDto.tagIdList != null and searchDto.tagIdList.size > 0">
                AND `tag_id` IN
                <foreach collection="searchDto.tagIdList" item="tagId" open="(" separator="," close=")">
                    #{tagId}
                </foreach>
            </if>
            <if test="searchDto.dishIdList != null and searchDto.dishIdList.size > 0">
                AND dish.`id` IN
                <foreach collection="searchDto.dishIdList" item="dishId" open="(" separator="," close=")">
                    #{dishId}
                </foreach>
            </if>
            AND `status` != 3
            <if test="searchDto.isPackage == 0">
                AND `category_id` != 6
            </if>
            <if test="searchDto.isPackage == 1">
                AND `category_id` = 6
            </if>
        </where>
    </select>

    <update id="updateStatusById">
        UPDATE `t_dish`
        SET `status` = #{status}
        WHERE `id` = #{id}
    </update>

    <select id="queryById" resultMap="dishDtoResultMap">
        SELECT
            dish.`id` AS id,
            dish.`name` AS name,
            dish.`dish_number` AS dishNumber,
            dish.`assistant_code` AS assistantCode,
            dish.`unit_id` AS unitId,
            unit.`name` AS unitName,
            unit.`type` AS unitType,
            dish.`price` AS price,
            dish.`sale_type` AS saleType,
            dish.`discount` AS discount,
            dish.`sale_price` AS salePrice,
            dish.`category_id` AS categoryId,
            dish.`tag_id` AS tagId,
            dish.`description` AS description,
            dish.`status` AS status,
            dish.`like_nums` AS likeNums,
            dish.`is_network_available` AS isNetworkAvailable,
            dish.`is_vip_price_available` AS isVipPriceAvailable,
            dish.`is_voucher_available` AS isVoucherAvailable,
            dish.`time_limit` AS timeLimit,
            dish.`created_party_id` AS createdPartyId,
            dish.`created_time` AS createdTime,
            dish.`last_modified_time` AS lastModifiedTime,
            dishMealPeriod.`id` AS dishMealPeriodId,
            dishMealPeriod.`meal_period_id` AS mealPeriodId,
            dishTagPrinter.`printer_id` AS printerId,
            taste.`id` AS tasteId,
            taste.`name` AS tasteName
        FROM `t_dish` dish
        LEFT JOIN `t_unit` unit ON dish.`unit_id` = unit.`id`
        LEFT JOIN `t_dish_meal_period` dishMealPeriod ON dish.`id` = dishMealPeriod.`dish_id`
        LEFT JOIN `t_dish_tag_printer` dishTagPrinter ON dish.`id` = dishTagPrinter.`dish_tag_id` AND dishTagPrinter.type = 2
        LEFT JOIN `t_dish_taste` dishTaste ON dish.`id` = dishTaste.`dish_id`
        LEFT JOIN `t_taste` taste ON taste.`id` = dishTaste.`taste_id`
        WHERE dish.`id` = #{id}
    </select>
    <select id="listBySearchDtoInMobile" resultType="DishDto">
        SELECT
        dish.`id` AS id,
        dish.`name` AS name,
        dish.`dish_number` AS dishNumber,
        dish.`assistant_code` AS assistantCode,
        dish.`unit_id` AS unitId,
        unit.`name` AS unitName,
        unit.`type` AS unitType,
        dish.`price` AS price,
        dish.`sale_type` AS saleType,
        dish.`discount` AS discount,
        dish.`sale_price` AS salePrice,
        dish.`category_id` AS categoryId,
        dish.`tag_id` AS tagId,
        dish.`description` AS description,
        dish.`status` AS status,
        dish.`like_nums` AS likeNums,
        dish.`is_network_available` AS isNetworkAvailable,
        dish.`is_vip_price_available` AS isVipPriceAvailable,
        dish.`is_voucher_available` AS isVoucherAvailable,
        dish.`time_limit` AS timeLimit,
        dish.`created_party_id` AS createdPartyId,
        dish.`created_time` AS createdTime,
        dish.`last_modified_time` AS lastModifiedTime,
        dishMealPeriod.`id` AS dishMealPeriodId,
        dishMealPeriod.`meal_period_id` AS mealPeriodId,
        dishTagPrinter.`printer_id` AS printerId,
        taste.`id` AS tasteId,
        taste.`name` AS tasteName
        FROM `t_dish` dish
        LEFT JOIN `t_unit` unit ON dish.`unit_id` = unit.`id`
        LEFT JOIN `t_dish_meal_period` dishMealPeriod ON dish.`id` = dishMealPeriod.`dish_id`
        LEFT JOIN `t_dish_tag_printer` dishTagPrinter ON dish.`id` = dishTagPrinter.`dish_tag_id` AND dishTagPrinter.type = 2
        LEFT JOIN `t_dish_taste` dishTaste ON dish.`id` = dishTaste.`dish_id`
        LEFT JOIN `t_taste` taste ON taste.`id` = dishTaste.`taste_id`
        <where>
            <if test="dishSearchDto.keyword != null and dishSearchDto.keyword != ''">
                (
                dish.`name` LIKE "%"#{dishSearchDto.keyword}"%"
                OR dish.`dish_number` LIKE "%"#{dishSearchDto.keyword}"%"
                OR dish.`assistant_code` LIKE "%"#{dishSearchDto.keyword}"%"
                )
            </if>
            <if test="dishSearchDto.tagIdList != null and dishSearchDto.tagIdList.size > 0">
                AND dish.`tag_id` IN
                <foreach collection="dishSearchDto.tagIdList" item="tagId" open="(" separator="," close=")">
                    #{tagId}
                </foreach>
            </if>
            <if test="dishSearchDto.dishMealPeriodIdList != null and dishSearchDto.dishMealPeriodIdList.size > 0">
                AND dishMealPeriod.`meal_period_id` IN
                <foreach collection="dishSearchDto.dishMealPeriodIdList" item="dishMealPeriodId" open="(" separator="," close=")">
                    #{dishMealPeriodId}
                </foreach>
            </if>
            AND dish.`status` != 3
            AND dish.`status` != 0
            AND (dish.`category_id` = 3 OR dish.`category_id` = 4 OR dish.`category_id` = 5 OR dish.`category_id` = 6 OR dish.`category_id` = 7)
        </where>
        GROUP BY dish.`id`
        ORDER BY  `status` ASC, `id` DESC
        LIMIT #{dishSearchDto.offset},#{dishSearchDto.pageSize}
    </select>
    
    <resultMap id="dishDtoResultMap" type="com.emenu.common.dto.dish.DishDto">
        <id property="id" column="id" />
        <result property="name" column="name" />
        <result property="dishNumber" column="dishNumber" />
        <result property="assistantCode" column="assistantCode" />
        <result property="unitId" column="unitId" />
        <result property="unitType" column="unitType" />
        <result property="unitName" column="unitName" />
        <result property="price" column="price" />
        <result property="saleType" column="saleType" />
        <result property="salePrice" column="salePrice" />
        <result property="discount" column="discount" />
        <result property="categoryId" column="categoryId" />
        <result property="tagId" column="tagId" />
        <result property="description" column="description" />
        <result property="status" column="status" />
        <result property="likeNums" column="likeNums" />
        <result property="isNetworkAvailable" column="isNetworkAvailable" />
        <result property="isVipPriceAvailable" column="isVipPriceAvailable" />
        <result property="isVoucherAvailable" column="isVoucherAvailable" />
        <result property="timeLimit" column="timeLimit" />
        <result property="printerId" column="printerId" />
        <collection property="mealPeriodList" ofType="com.emenu.common.entity.dish.DishMealPeriod">
            <id property="id" column="dishMealPeriodId" />
            <result property="mealPeriodId" column="mealPeriodId" />
        </collection>
        <collection property="tasteList" ofType="com.emenu.common.entity.dish.Taste">
            <id property="id" column="tasteId" />
            <result property="name" column="tasteName" />
        </collection>
    </resultMap>
</mapper>