<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.emenu.mapper.dish.TagMapper">

    <select id="listAll" resultMap="pw.Tag">
        SELECT
            `id`,`name`,`p_id`,`weight`,`type`,`time_limit`,`print_after_confirm_order`,`max_print_num`
        FROM
            `t_tag`
        ORDER BY
            `weight`
    </select>

    <select id="listByPage" resultMap="pw.Tag">
        SELECT
            `id`,`name`,`p_id`,`weight`,`type`,`time_limit`,`print_after_confirm_order`,`max_print_num`
        FROM
            `t_tag`
        ORDER BY
            `weight`
        LIMIT #{offset},#{pageSize}
    </select>

    <select id="countAll" resultType="int">
        SELECT
            COUNT(*)
        FROM
            `t_tag`
    </select>

    <delete id="delByIds">
        DELETE
        FROM
        `t_tag`
        <where>
            <if test="ids != null and ids.size != 0">
                id
                IN
                <foreach item="tagId" collection="ids" open="(" separator="," close=")">
                    #{tagId}
                </foreach >
            </if>
        </where>
    </delete>

    <select id="countChildrenById" resultType="int">
        SELECT
        COUNT(*)
        FROM
        `t_tag`
        WHERE p_id = #{id}
    </select>

    <select id="queryDishTagByDishId" resultMap="pw.Tag">
        SELECT *
        FROM t_tag tag
        LEFT JOIN t_dish dish ON dish.`tag_id` = tag.`id`
        WHERE dish.`status` != 3 AND dish.`id` = #{dishId}
    </select>

    <select id="queryByName" resultMap="pw.Tag">
        SELECT *
        FROM `t_tag`
        WHERE `name` = #{name}
    </select>

    <select id="listByParentId" resultMap="pw.Tag">
        SELECT *
        FROM `t_tag`
        WHERE `p_id` = #{parentId}
    </select>


    <select id="listSecondTag" resultMap="pw.Tag">
        SELECT  *
        FROM  t_tag tag
        WHERE
        tag.p_id IN (3,4,5,6,7)
    </select>
</mapper>